In [5]:
from requests import get # la vamos a usar para solicitar la página mediante su URL 
from bs4 import BeautifulSoup # biblioteca para web scraping
import pandas as pd
import string                              
from nltk.corpus import stopwords # para remover palabras que no agregan significado          
from nltk.stem import PorterStemmer # para llevar las palabras a su forma raíz        
from nltk.tokenize import TweetTokenizer # para transformar cada palabra en un token
from IPython.display import clear_output
from collections import defaultdict
import numpy as np

In [6]:
import pickle
def save_obj(obj, name):
       with open(name + '.pkl', 'wb') as f:
           pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name):
       with open(name + '.pkl', 'rb') as f:
           return pickle.load(f)

In [ ]:
class Textos:
    clasesDefault = 5
    listaDataset = []
    def __init__(self, clases, webs):
        import pandas as pd
        from requests import get      # la vamos a usar para solicitar la página mediante su URL 
        from bs4 import BeautifulSoup # biblioteca para web scraping
        import string                              
        from nltk.corpus import stopwords   # para remover palabras que no agregan significado          
        from nltk.stem import PorterStemmer # para llevar las palabras a su forma raíz        
        from nltk.tokenize import TweetTokenizer # para transformar cada palabra en un token
        from IPython.display import clear_output
        from collections import defaultdict
        import numpy as np
        self.clases = clases
        listaDataset = []
        listaDataset.append('TextoCrudo')
        listaDataset.append('TextoLimpio')
        for i in range(1,clases +1):
            listaDataset.append('Clase' + str(i))
        listaDataset.append('Predicción')
        listaDataset.append('CLASE')
        self.dataFrame = pd.DataFrame(columns = listaDataset)
        self.webs = pd.ExcelFile(webs)
        df = self.webs.parse(self.webs.sheet_names[0])
        self.__clases_df = set(df["CÓDIGO"].value_counts().index)
        for i in df.index: 
            print(f"Creando Dataframe {i} de {len(df.index)}")   
            print("i", i)
            url = df["URL"][i]
            req = get(url)
            statusCode = req.status_code
            html = BeautifulSoup(req.text, "html.parser")
            if statusCode == 200:
                paragraphs = html.select("p")
                cont = 0
                for para in paragraphs:
                    if len(para.text) < 15:
                        continue
                    cont += 1 
                    parrafo = ""
                    print("parrafo",parrafo) 
                    print("i",i) 
                    print("df['CÓDIGO'][i]",df["CÓDIGO"][i]) 
                    print('df["NOMBRE ARCHIVO"][i]',df["NOMBRE ARCHIVO"][i])
                    print("cont",cont) 
                    guardarComo = str(df["CÓDIGO"][i]) + "/"  + df["NOMBRE ARCHIVO"][i] + str(cont)
                    print("guardarComo",guardarComo)  
                    parrafo = open(guardarComo,"w",encoding = "utf-8") 
                    parrafo.write(para.text)
                    self.dataFrame = self.dataFrame.append({'TextoCrudo': para.text, 'CLASE':df["CÓDIGO"][i]}, ignore_index=True)
                    parrafo.close()
                clear_output( wait = True )
                 
        
    @property
    def clases(self):
        return self.__clases
    
    @clases.setter
    def clases(self, clases):
        clasesDefault = 5
        if clases < 11:
            self.__clases = clases
        else:
            self.__clases = clasesDefault           
        return None      
    
   
    @property
    def dataFrame(self):
        return self.__dataFrame
    
    @dataFrame.setter
    def dataFrame(self, cambios):
        self.__dataFrame = cambios
        return None      
    
    @property
    def webs(self):
        return self.__webs
    
    @webs.setter
    def webs(self, webs):
        self.__webs = webs
        return None

In [ ]:
clases = 5
webs = "Webs.xls"

In [ ]:
textos = Textos(clases, webs)

In [ ]:
textos.clases

In [ ]:
textos.dataFrame

In [ ]:
textos.dataFrame.to_csv("Historia.csv")

In [ ]:
import pandas as pd
textos = pd.read_csv("Historia.csv")
textos = textos.iloc[:,1:]
textos

In [ ]:
textos.iloc[4029,0]

In [ ]:
for i in textos.index:
    textos["LTCrudo"][i] = len(textos["TextoCrudo"][i])
textos

In [ ]:
textos.describe()

In [ ]:
for i in textos.index:
    textos["TextoLimpio"][i] = limpiar(textos["TextoCrudo"][i])
textos

In [ ]:
def limpiar(textoCrudo):
    for i in range(100):
        textoCrudo = textoCrudo.replace("[" + str(i) + "]", "")
    for i in ["a","b","c"]:
        textoCrudo = textoCrudo.replace("[" + i + "]", "")
    stopwords_english = stopwords.words('english')
    stop        = stopwords.words('english')
    tokenizer = TweetTokenizer(preserve_case = False, 
                           strip_handles = True,
                           reduce_len    = True)
    stemmer = PorterStemmer()    
    texto_tokens = tokenizer.tokenize(textoCrudo)    
    for i in range(len(texto_tokens.copy())):
        if i > len(texto_tokens) - 1:
            break
        if i !=0:
            if texto_tokens[i] == "bc" and texto_tokens[i - 1].isnumeric():
                texto_tokens[i] = texto_tokens[i - 1] + texto_tokens[i]     
                texto_tokens.pop(i - 1)         
    texto_clean  = [ word for word in texto_tokens if word not in stop and word not in string.punctuation]  
    texto_stem   = [stemmer.stem(word) for word in texto_clean] 
    return texto_stem

In [ ]:
crudo = "10 bc bcc Hola 10 bcc chau 5 bc  555 bc bcc 10"
limpio = limpiar(crudo)
print(type(limpio))
limpio

In [ ]:
posicionBC = 2
limpio[posicionBC - 1] + limpio[posicionBC]

In [ ]:
textos["LTLimpio"] = None
textos

In [ ]:
for i in textos.index:
    textos["LTCrudo"][i] = len(textos["TextoCrudo"][i])
    textos["LTLimpio"][i] = len(textos["TextoLimpio"][i])
textos

In [ ]:
type(textos["TextoLimpio"][0])

In [ ]:
len(textos["TextoLimpio"][0])

In [ ]:
textos

In [ ]:
textos["TextoLimpio"][6063]

In [ ]:
conta = 0
for i in textos.index:
    if len(textos["TextoLimpio"][i]) < 10:
        conta += 1 
        print(textos["TextoLimpio"][i]) 
print(conta)

In [ ]:
textos = textos[textos["LTLimpio"] > 7]
textos

In [7]:
textos.to_csv("Historia.csv")

NameError: name 'textos' is not defined

In [9]:
textos = pd.read_csv("Historia.csv")
textos = textos.iloc[:,1:]
textos

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",NaN,NaN,NaN,NaN,NaN,NaN,1,757,78
1,"During his youth, Alexander was tutored by Ari...","['youth', 'alexand', 'tutor', 'aristotl', 'age...",NaN,NaN,NaN,NaN,NaN,NaN,1,821,74
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'reach', 'end', 'worl...",NaN,NaN,NaN,NaN,NaN,NaN,1,624,58
3,Alexander's legacy includes the cultural diffu...,"[""alexander'"", 'legaci', 'includ', 'cultur', '...",NaN,NaN,NaN,NaN,NaN,NaN,1,1007,87
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",NaN,NaN,NaN,NaN,NaN,NaN,1,488,46
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'also', 'regularli', 'hunt...",NaN,NaN,NaN,NaN,NaN,NaN,5,592,54
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'number', 'contemporari', 'hu...",NaN,NaN,NaN,NaN,NaN,NaN,5,1011,86
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",NaN,NaN,NaN,NaN,NaN,NaN,5,549,54
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'would', 'eventu', 'flourish...",NaN,NaN,NaN,NaN,NaN,NaN,5,724,71
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'saw', 'chang...",NaN,NaN,NaN,NaN,NaN,NaN,5,695,64

In [10]:
clases_df = {1, 2, 3 , 4 , 5}
clases_df

{1, 2, 3, 4, 5}

In [ ]:
frecuencias = defaultdict(int)
vocabulario = set([x for m in textos.index for x in textos.loc[m].TextoLimpio ])                

for i in textos.index:
    for palabra in textos.loc[i].TextoLimpio:
        frecuencias[(palabra, textos.loc[i].CLASE)] += 1
        clear_output( wait = True )
        print(f"Creando Frecuencias {i} de {len(textos)}")

for i in clases_df:
    textos[f"Clase{i}"] = textos.TextoLimpio.apply(lambda x : etiquetas(x,frecuencias,clases_df)[0,i])
print("dataset terminado")
print(textos.describe())

In [ ]:
frecuencias = defaultdict(int)
vocabulario = set([x for m in textos.index for x in textos.loc[m].TextoLimpio ])

In [ ]:
len(vocabulario)

In [ ]:
vocabulario

In [14]:
def limpiarWord(word):
    word = word[:-1]
    return word

In [ ]:
listaPalabras = []
cont = 0
for x in textos.index:
    cont += 1
    if cont > 10000000:
        break
    for word in textos["TextoLimpio"][x][:-1].split(","):
        word = word[2:-1]
        while word[-1:] == "'" or word[-1:] == '"':
            word = limpiarWord(word)
        listaPalabras.append(word)    
vocabulario = set(listaPalabras)
print()
print("largo Vocabulario",len(vocabulario))
print()
print(vocabulario)

In [ ]:
for word in vocabulario:
    print(word)

In [ ]:
save_obj(vocabulario, "Vocabulario")

In [ ]:
vocabulario = load_obj("Vocabulario")

In [15]:
frecuencias = defaultdict(int)
clases = 5
cont = 0
for i in textos.index:
    cont += 1
    if cont > 10000000:
        break
    for word in textos["TextoLimpio"][i][:-1].split(","):
        word = word[2:-1]
        while word[-1:] == "'" or word[-1:] == '"':
            word = limpiarWord(word)
        frecuencias[(word, textos["CLASE"][i])] = frecuencias.get((word, textos["CLASE"][i]), 0) + 1    
    clear_output( wait = True )
    print(f"Creando Frecuencias {i} de {len(textos.index)}")      
frecuencias

Creando Frecuencias 5865 de 5866

defaultdict(int,
            {('alexand', 1): 297,
             ('iii', 1): 57,
             ('macedon', 1): 18,
             ('greek', 1): 271,
             ('αλέξανδρος', 1): 1,
             ('γʹ', 1): 1,
             ('ὁ', 1): 2,
             ('μακεδών', 1): 1,
             ('aléxandro', 1): 1,
             ('ho', 1): 2,
             ('makedȏn', 1): 1,
             ('20/21', 1): 1,
             ('juli', 1): 7,
             ('356bc', 1): 3,
             ('–', 1): 212,
             ('10/11', 1): 1,
             ('june', 1): 3,
             ('323bc', 1): 4,
             ('commonli', 1): 16,
             ('known', 1): 166,
             ('great', 1): 126,
             ('μέγας', 1): 1,
             ('méga', 1): 1,
             ('king', 1): 240,
             ('basileu', 1): 3,
             ('ancient', 1): 219,
             ('kingdom', 1): 128,
             ('member', 1): 28,
             ('argead', 1): 1,
             ('dynasti', 1): 83,
             ('born', 1): 15,
             ('pella', 1): 3,
             ('succeed', 1): 22,
             ('father', 1): 48,
             ('philip', 1): 56,
             ('ii', 1): 163,
             ('throne', 1): 37,
             ('age', 1): 103,
             ('20', 1): 16,
             ('spent', 1): 6,
             ('rule', 1): 111,
             ('year', 1): 172,
             ('unpreced', 1): 7,
             ('militari', 1): 160,
             ('campaign', 1): 89,
             ('western', 1): 87,
             ('asia', 1): 36,
             ('northeast', 1): 4,
             ('africa', 1): 53,
             ('thirti', 1): 4,
             ('creat', 1): 39,
             ('one', 1): 229,
             ('largest', 1): 25,
             ('empir', 1): 264,
             ('world', 1): 78,
             ('stretch', 1): 10,
             ('greec', 1): 32,
             ('northwestern', 1): 6,
             ('india', 1): 15,
             ('undef', 1): 2,
             ('battl', 1): 123,
             ('wide', 1): 21,
             ('consid', 1): 53,
             ('history', 1): 1,
             ('success', 1): 49,
             ('command', 1): 86,
             ('youth', 1): 12,
             ('tutor', 1): 4,
             ('aristotl', 1): 34,
             ('16', 1): 10,
             ('assassin', 1): 36,
             ('336bc', 1): 3,
             ('inherit', 1): 10,
             ('strong', 1): 19,
             ('experienc', 1): 6,
             ('armi', 1): 145,
             ('award', 1): 1,
             ('generalship', 1): 3,
             ('use', 1): 326,
             ('author', 1): 56,
             ('launch', 1): 13,
             ('pan-hellen', 1): 1,
             ('project', 1): 25,
             ('lead', 1): 51,
             ('conquest', 1): 74,
             ('persia', 1): 16,
             ('334bc', 1): 3,
             ('invad', 1): 51,
             ('achaemenid', 1): 36,
             ('persian', 1): 107,
             ('began', 1): 83,
             ('seri', 1): 33,
             ('last', 1): 69,
             ('10', 1): 13,
             ('follow', 1): 113,
             ('anatolia', 1): 19,
             ('broke', 1): 16,
             ('power', 1): 217,
             ('decis', 1): 28,
             ('notabl', 1): 19,
             ('issu', 1): 18,
             ('gaugamela', 1): 4,
             ('subsequ', 1): 27,
             ('overthrew', 1): 5,
             ('dariu', 1): 23,
             ('conquer', 1): 66,
             ('entireti', 1): 3,
             ('point', 1): 32,
             ('adriat', 1): 1,
             ('sea', 1): 53,
             ('bea', 1): 3,
             ('river', 1): 54,
             ('endeavour', 1): 2,
             ('reach', 1): 41,
             ('end', 1): 86,
             ('outer', 1): 4,
             ('326bc', 1): 2,
             ('win', 1): 9,
             ('import', 1): 99,
             ('victori', 1): 66,
             ('paurava', 1): 1,
             ('hydasp', 1): 7,
             ('eventu', 1): 52,
             ('turn', 1): 34,
             ('back', 1): 66,
             ('demand', 1): 18,
             ('homesick', 1): 1,
             ('troop', 1): 49,
             ('die', 1): 63,
             ('babylon', 1): 24,
             ('citi', 1): 243,
             ('plan', 1): 17,
             ('establish', 1): 77,
             ('capit', 1): 57,
             ('without', 1): 29,
             ('execut', 1): 27,
             ('would', 1): 151,
             ('begun', 1): 7,
             ('invas', 1): 51,
             ('arabia', 1): 9,
             ('death', 1): 114,
             ('civil', 1): 101,
             ('war', 1): 260,
             ('tore', 1): 1,
             ('apart', 1): 9,
             ('result', 1): 51,
             ('sever', 1): 107,
             ('state', 1): 94,
             ('diadochi', 1): 2,
             ('alexander', 1): 85,
             ('surviv', 1): 51,
             ('gener', 1): 137,
             ('heir', 1): 22,
             ('legaci', 1): 12,
             ('includ', 1): 161,
             ('cultur', 1): 204,
             ('diffus', 1): 3,
             ('syncret', 1): 5,
             ('engend', 1): 1,
             ('greco-buddh', 1): 2,
             ('found', 1): 144,
             ('twenti', 1): 8,
             ('bore', 1): 6,
             ('name', 1): 131,
             ('alexandria', 1): 29,
             ('egypt', 1): 181,
             ('settlement', 1): 41,
             ('colonist', 1): 4,
             ('spread', 1): 28,
             ('east', 1): 72,
             ('new', 1): 151,
             ('hellenist', 1): 49,
             ('aspect', 1): 16,
             ('still', 1): 48,
             ('evid', 1): 73,
             ('tradit', 1): 71,
             ('byzantin', 1): 14,
             ('mid', 1): 16,
             ('15th', 1): 2,
             ('centuri', 1): 284,
             ('ad', 1): 168,
             ('presenc', 1): 19,
             ('speaker', 1): 10,
             ('central', 1): 74,
             ('far', 1): 46,
             ('eastern', 1): 58,
             ('genocid', 1): 1,
             ('popul', 1): 92,
             ('exchang', 1): 10,
             ('1920', 1): 1,
             ('becam', 1): 148,
             ('legendari', 1): 9,
             ('classic', 1): 39,
             ('hero', 1): 10,
             ('mould', 1): 1,
             ('achil', 1): 4,
             ('featur', 1): 27,
             ('promin', 1): 25,
             ('histori', 1): 98,
             ('mythic', 1): 6,
             ('non-greek', 1): 3,
             ('measur', 1): 11,
             ('leader', 1): 38,
             ('compar', 1): 26,
             ('academi', 1): 5,
             ('throughout', 1): 38,
             ('teach', 1): 5,
             ('tactic', 1): 16,
             ('often', 1): 71,
             ('rank', 1): 15,
             ('among', 1): 77,
             ('influenti', 1): 12,
             ('peopl', 1): 152,
             ('sixth', 1): 14,
             ('day', 1): 55,
             ('month', 1): 22,
             ('hekatombaion', 1): 1,
             ('probabl', 1): 52,
             ('correspond', 1): 6,
             ('although', 1): 95,
             ('exact', 1): 7,
             ('date', 1): 54,
             ('uncertain', 1): 12,
             ('son', 1): 89,
             ('fourth', 1): 31,
             ('wife', 1): 25,
             ('olympia', 1): 12,
             ('daughter', 1): 36,
             ('neoptolemu', 1): 1,
             ('epiru', 1): 7,
             ('seven', 1): 12,
             ('eight', 1): 9,
             ('wive', 1): 4,
             ('princip', 1): 12,
             ('time', 1): 170,
             ('like', 1): 100,
             ('gave', 1): 27,
             ('birth', 1): 7,
             ('legend', 1): 11,
             ('surround', 1): 21,
             ('childhood', 1): 3,
             ('accord', 1): 85,
             ('biograph', 1): 4,
             ('plutarch', 1): 43,
             ('eve', 1): 1,
             ('consumm', 1): 1,
             ('marriag', 1): 30,
             ('dream', 1): 4,
             ('womb', 1): 3,
             ('struck', 1): 6,
             ('thunderbolt', 1): 1,
             ('caus', 1): 51,
             ('flame', 1): 4,
             ('away', 1): 19,
             ('sometim', 1): 31,
             ('wed', 1): 4,
             ('said', 1): 32,
             ('seen', 1): 29,
             ('secur', 1): 29,
             ('seal', 1): 16,
             ('engrav', 1): 4,
             ('lion', 1): 7,
             ('imag', 1): 16,
             ('offer', 1): 38,
             ('varieti', 1): 15,
             ('interpret', 1): 10,
             ('pregnant', 1): 1,
             ('indic', 1): 27,
             ('zeu', 1): 6,
             ('comment', 1): 4,
             ('divid', 1): 28,
             ('whether', 1): 22,
             ('ambiti', 1): 6,
             ('promulg', 1): 4,
             ('stori', 1): 30,
             ('divin', 1): 26,
             ('parentag', 1): 1,
             ('various', 1): 4,
             ('claim', 1): 58,
             ('told', 1): 9,
             ('dismiss', 1): 3,
             ('suggest', 1): 93,
             ('impiou', 1): 1,
             ('prepar', 1): 19,
             ('sieg', 1): 39,
             ('potidea', 1): 1,
             ('peninsula', 1): 30,
             ('chalcidic', 1): 1,
             ('receiv', 1): 18,
             ('news', 1): 7,
             ('parmenion', 1): 4,
             ('defeat', 1): 129,
             ('combin', 1): 23,
             ('illyrian', 1): 3,
             ('paeonian', 1): 1,
             ('hors', 1): 41,
             ('olymp', 1): 2,
             ('game', 1): 25,
             ('also', 1): 320,
             ('templ', 1): 130,
             ('artemi', 1): 2,
             ('ephesu', 1): 2,
             ('wonder', 1): 3,
             ('burnt', 1): 5,
             ('led', 1): 101,
             ('hegesia', 1): 1,
             ('magnesia', 1): 3,
             ('say', 1): 28,
             ('attend', 1): 3,
             ('may', 1): 99,
             ('emerg', 1): 37,
             ('possibl', 1): 44,
             ('instig', 1): 5,
             ('show', 1): 48,
             ('superhuman', 1): 1,
             ('destin', 1): 4,
             ('concept', 1): 25,
             ('earli', 1): 110,
             ('rais', 1): 31,
             ('nurs', 1): 3,
             ('lanik', 1): 1,
             ('sister', 1): 7,
             ('futur', 1): 10,
             ('cleitu', 1): 4,
             ('black', 1): 12,
             ('later', 1): 119,
             ('strict', 1): 5,
             ('leonida', 1): 1,
             ('rel', 1): 24,
             ('mother', 1): 19,
             ('lysimachu', 1): 2,
             ('acarnania', 1): 1,
             ('manner', 1): 11,
             ('nobl', 1): 31,
             ('macedonian', 1): 45,
             ('learn', 1): 11,
             ('read', 1): 19,
             ('play', 1): 25,
             ('lyre', 1): 6,
             ('ride', 1): 8,
             ('fight', 1): 35,
             ('hunt', 1): 13,
             ('ten', 1): 12,
             ('old', 1): 46,
             ('trader', 1): 6,
             ('thessali', 1): 3,
             ('brought', 1): 39,
             ('sell', 1): 8,
             ('thirteen', 1): 2,
             ('talent', 1): 8,
             ('refus', 1): 24,
             ('mount', 1): 21,
             ('order', 1): 70,
             ('howev', 1): 152,
             ('detect', 1): 4,
             ('horse', 1): 1,
             ('fear', 1): 13,
             ('shadow', 1): 4,
             ('ask', 1): 14,
             ('tame', 1): 1,
             ('manag', 1): 28,
             ('overjoy', 1): 1,
             ('display', 1): 21,
             ('courag', 1): 6,
             ('ambit', 1): 9,
             ('kiss', 1): 2,
             ('tear', 1): 4,
             ('declar', 1): 11,
             ('boy', 1): 13,
             ('must', 1): 11,
             ('find', 1): 27,
             ('big', 1): 1,
             ('enough', 1): 14,
             ('small', 1): 38,
             ('bought', 1): 2,
             ('bucephala', 1): 4,
             ('mean', 1): 35,
             ('ox-head', 1): 1,
             ('carri', 1): 40,
             ('anim', 1): 44,
             ('13', 1): 2,
             ('search', 1): 6,
             ('academ', 1): 3,
             ('isocr', 1): 2,
             ('speusippu', 1): 1,
             ('latter', 1): 32,
             ('resign', 1): 5,
             ('stewardship', 1): 1,
             ('take', 1): 30,
             ('post', 1): 11,
             ('chose', 1): 10,
             ('provid', 1): 59,
             ('nymph', 1): 1,
             ('mieza', 1): 2,
             ('classroom', 1): 1,
             ('return', 1): 58,
             ('agre', 1): 16,
             ('rebuild', 1): 7,
             ('aristotle', 1): 11,
             ('hometown', 1): 1,
             ('stageira', 1): 1,
             ('raze', 1): 4,
             ('repopul', 1): 3,
             ('buy', 1): 5,
             ('free', 1): 14,
             ('ex-citizen', 1): 1,
             ('slave', 1): 35,
             ('pardon', 1): 6,
             ('exil', 1): 27,
             ('board', 1): 11,
             ('school', 1): 16,
             ('children', 1): 39,
             ('ptolemi', 1): 41,
             ('hephaist', 1): 1,
             ('cassand', 1): 1,
             ('mani', 1): 165,
             ('student', 1): 7,
             ('becom', 1): 43,
             ('friend', 1): 19,
             ('companion', 1): 13,
             ('taught', 1): 9,
             ('medicin', 1): 9,
             ('philosophi', 1): 8,
             ('moral', 1): 6,
             ('religion', 1): 57,
             ('logic', 1): 2,
             ('art', 1): 78,
             ('tutelag', 1): 2,
             ('develop', 1): 89,
             ('passion', 1): 1,
             ('work', 1): 103,
             ('homer', 1): 2,
             ('particular', 1): 21,
             ('iliad', 1): 1,
             ('annot', 1): 1,
             ('copi', 1): 6,
             ('acquaint', 1): 1,
             ('court', 1): 38,
             ('protect', 1): 22,
             ('oppos', 1): 14,
             ('artaxerx', 1): 5,
             ('artabazo', 1): 1,
             ('barsin', 1): 2,
             ('mistress', 1): 2,
             ('resid', 1): 10,
             ('352', 1): 1,
             ('342bc', 1): 1,
             ('well', 1): 95,
             ('amminap', 1): 1,
             ('satrap', 1): 13,
             ('nobleman', 1): 4,
             ('sisin', 1): 1,
             ('good', 1): 38,
             ('knowledg', 1): 27,
             ('even', 1): 100,
             ('influenc', 1): 79,
             ('innov', 1): 18,
             ('suda', 1): 1,
             ('write', 1): 66,
             ('anaximen', 1): 3,
             ('lampsacu', 1): 1,
             ('teacher', 1): 7,
             ('accompani', 1): 15,
             ('educ', 1): 13,
             ('wage', 1): 9,
             ('byzant', 1): 1,
             ('leav', 1): 21,
             ('charg', 1): 20,
             ('regent', 1): 5,
             ('appar', 1): 15,
             ('absenc', 1): 10,
             ('thracian', 1): 7,
             ('maedi', 1): 1,
             ('revolt', 1): 50,
             ('macedonia', 1): 6,
             ('respond', 1): 8,
             ('quickli', 1): 17,
             ('drive', 1): 1,
             ('territori', 1): 78,
             ('colon', 1): 4,
             ('alexandropoli', 1): 1,
             ('upon', 1): 50,
             ('dispatch', 1): 4,
             ('forc', 1): 172,
             ('subdu', 1): 7,
             ('southern', 1): 59,
             ('thrace', 1): 6,
             ('perinthu', 1): 1,
             ('report', 1): 24,
             ('save', 1): 9,
             ('life', 1): 52,
             ('meanwhil', 1): 10,
             ('amphissa', 1): 2,
             ('land', 1): 103,
             ('sacr', 1): 20,
             ('apollo', 1): 4,
             ('near', 1): 51,
             ('delphi', 1): 1,
             ('sacrileg', 1): 1,
             ('opportun', 1): 7,
             ('interven', 1): 6,
             ('affair', 1): 19,
             ('occupi', 1): 19,
             ('muster', 1): 3,
             ('concern', 1): 18,
             ('might', 1): 22,
             ('made', 1): 123,
             ('look', 1): 6,
             ('though', 1): 64,
             ('attack', 1): 31,
             ('illyria', 1): 6,
             ('instead', 1): 27,
             ('turmoil', 1): 6,
             ('repel', 1): 9,
             ('join', 1): 12,
             ('338bc', 1): 2,
             ('march', 1): 55,
             ('south', 1): 49,
             ('thermopyla', 1): 2,
             ('stubborn', 1): 2,
             ('resist', 1): 19,
             ('theban', 1): 9,
             ('garrison', 1): 11,
             ('went', 1): 27,
             ('elatea', 1): 2,
             ('athen', 1): 15,
             ('thebe', 1): 21,
             ('athenian', 1): 8,
             ('demosthen', 1): 4,
             ('vote', 1): 14,
             ('seek', 1): 10,
             ('allianc', 1): 26,
             ('sent', 1): 39,
             ('embassi', 1): 5,
             ('favour', 1): 7,
             ('contest', 1): 8,
             ('ostens', 1): 2,
             ('act', 1): 26,
             ('request', 1): 5,
             ('amphictyon', 1): 2,
             ('leagu', 1): 6,
             ('captur', 1): 52,
             ('mercenari', 1): 22,
             ('accept', 1): 15,
             ('city', 1): 14,
             ('surrend', 1): 8,
             ('send', 1): 12,
             ('final', 1): 34,
             ('peac', 1): 45,
             ('reject', 1): 5,
             ('oppon', 1): 16,
             ('block', 1): 16,
             ('chaeronea', 1): 3,
             ('boeotia', 1): 1,
             ('ensu', 1): 12,
             ('right', 1): 40,
             ('wing', 1): 2,
             ('left', 1): 39,
             ('group', 1): 48,
             ('trust', 1): 3,
             ('sourc', 1): 78,
             ('two', 1): 133,
             ('side', 1): 35,
             ('fought', 1): 25,
             ('bitterli', 1): 1,
             ('deliber', 1): 6,
             ('retreat', 1): 15,
             ('count', 1): 3,
             ('untest', 1): 1,
             ('hoplit', 1): 5,
             ('thu', 1): 46,
             ('break', 1): 7,
             ('line', 1): 30,
             ('first', 1): 226,
             ('damag', 1): 6,
             ('enemy', 1): 2,
             ('cohes', 1): 4,
             ('press', 1): 3,
             ('forward', 1): 7,
             ('rout', 1): 33,
             ('lost', 1): 44,
             ('alon', 1): 10,
             ('unoppos', 1): 1,
             ('peloponnes', 1): 2,
             ('welcom', 1): 4,
             ('sparta', 1): 7,
             ('resort', 1): 6,
             ('corinth', 1): 9,
             ('hellen', 1): 12,
             ('model', 1): 23,
             ('anti-persian', 1): 1,
             ('greco-persian', 1): 1,
             ('city-st', 1): 27,
             ('except', 1): 16,
             ('hegemon', 1): 4,
             ('translat', 1): 19,
             ('suprem', 1): 19,
             ('modern', 1): 94,
             ('scholar', 1): 41,
             ('announc', 1): 3,
             ('fell', 1): 26,
             ('love', 1): 13,
             ('marri', 1): 27,
             ('cleopatra', 1): 30,
             ('eurydic', 1): 3,
             ('niec', 1): 3,
             ('attalu', 1): 7,
             ('posit', 1): 23,
             ('less', 1): 24,
             ('sinc', 1): 50,
             ('fulli', 1): 7,
             ('half-macedonian', 1): 1,
             ('banquet', 1): 4,
             ('drunken', 1): 3,
             ('publicli', 1): 1,
             ('pray', 1): 2,
             ('god', 1): 105,
             ('union', 1): 6,
             ('produc', 1): 45,
             ('legitim', 1): 5,
             ('much', 1): 77,
             ('young', 1): 12,
             ('uncl', 1): 5,
             ('drink', 1): 10,
             ('desir', 1): 12,
             ('implor', 1): 2,
             ('give', 1): 30,
             ('law', 1): 49,
             ('successor', 1): 50,
             ('irrit', 1): 1,
             ('throw', 1): 5,
             ('cup', 1): 2,
             ('head', 1): 75,
             ('villain', 1): 3,

In [16]:
print("Largo frecuencias:",len(frecuencias))

Largo frecuencias: 47920

In [17]:
for i in frecuencias.keys():
    if frecuencias[i] > 200:
        print(i,frecuencias[i])

('alexand', 1) 297
('greek', 1) 271
('–', 1) 212
('king', 1) 240
('ancient', 1) 219
('one', 1) 229
('empir', 1) 264
('use', 1) 326
('power', 1) 217
('citi', 1) 243
('war', 1) 260
('cultur', 1) 204
('centuri', 1) 284
('also', 1) 320
('first', 1) 226
('rome', 1) 298
('caesar', 1) 272
('roman', 1) 729
('carthag', 1) 203
('parthian', 1) 232
('centuri', 2) 539
('roman', 2) 263
('empir', 2) 414
('use', 2) 246
('time', 2) 223
('byzantin', 2) 360
('europ', 2) 222
('vike', 2) 310
('first', 2) 221
('war', 2) 227
('also', 2) 290
('christian', 2) 298
('king', 2) 406
('england', 2) 221
('one', 2) 204
('muslim', 2) 228
('land', 2) 213
('power', 2) 209
('lombard', 2) 201
('state', 2) 202
('norman', 2) 221
('english', 2) 224
('crusad', 2) 309
('william', 2) 293
('centuri', 3) 234
('european', 3) 215
('also', 3) 261
('spain', 3) 245
('first', 3) 297
('new', 3) 246
('henri', 3) 253
('year', 3) 225
('spanish', 3) 323
('de', 3) 280
('french', 3) 269
('–', 3) 249
('king', 3) 345
('ottoman', 3) 293
('war', 3) 359
('would', 3) 218
('franc', 3) 294
('philip', 3) 362
('elizabeth', 3) 220
('loui', 3) 282
('french', 4) 372
('revolut', 4) 235
('napoleon', 4) 408
('state', 4) 342
('power', 4) 249
('war', 4) 838
('0', 4) 237
('militari', 4) 202
('govern', 4) 247
('british', 4) 235
('new', 4) 241
('franc', 4) 241
('forc', 4) 362
('armi', 4) 308
('unit', 4) 256
('alli', 4) 266
('german', 4) 348
('soviet', 4) 418
('germani', 4) 307
('human', 5) 715
('also', 5) 299
('period', 5) 349
('use', 5) 519
('stone', 5) 325
('tool', 5) 331
('year', 5) 586
('ago', 5) 375
('earli', 5) 327
('0', 5) 655
('cultur', 5) 370
('date', 5) 275
('develop', 5) 203
('bronz', 5) 233
('age', 5) 363
('africa', 5) 213
('time', 5) 210
('modern', 5) 355
('evid', 5) 314
('popul', 5) 227
('neanderth', 5) 465
('found', 5) 274
('paleolith', 5) 272
('homo', 5) 328
('h', 5) 201
('site', 5) 342
('may', 5) 293
('neolith', 5) 243
('1', 5) 207
('includ', 5) 212
('–', 5) 310

In [66]:
save_obj(frecuencias, "Frecuencias")

In [67]:
frecuencias= load_obj("Frecuencias")

In [19]:
def etiquetas(palabras,frecuencias,clases):
    clases = 5 
    import numpy as np
    x = np.zeros((1, clases + 1))
    for palabra in palabras:
        for t in range(1, clases + 1):
            x[0,t] += frecuencias.get((palabra, t),0)
    return x

In [20]:
clases = 5
cont = 0
for i in textos.index:
    cont += 1
    if cont > 1000000:
        break
    palabras = []    
    for word in textos["TextoLimpio"][i][:-1].split(","):
        word = word[2:-1]
        while word[-1:] == "'" or word[-1:] == '"':
            word = limpiarWord(word)
        palabras.append(word)    
        for k in range(1, clases + 1):
            textos["Clase" + str(k)][i] = etiquetas(palabras,frecuencias,clases)[0,k]
    clear_output( wait = True )
    print(f"Creando Features {i} de {len(textos.index)}") 
textos

Creando Features 5865 de 5866

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",5031.0,4266.0,3941.0,2614.0,3024.0,NaN,1,757,78
1,"During his youth, Alexander was tutored by Ari...","['youth', 'alexand', 'tutor', 'aristotl', 'age...",4970.0,4769.0,3691.0,2864.0,2354.0,NaN,1,821,74
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'reach', 'end', 'worl...",3438.0,3330.0,3299.0,3899.0,1949.0,NaN,1,624,58
3,Alexander's legacy includes the cultural diffu...,"[""alexander'"", 'legaci', 'includ', 'cultur', '...",6087.0,5257.0,3469.0,3093.0,4105.0,NaN,1,1007,87
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",2764.0,2296.0,2605.0,1068.0,1246.0,NaN,1,488,46
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'also', 'regularli', 'hunt...",1832.0,1877.0,2027.0,1653.0,3124.0,NaN,5,592,54
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'number', 'contemporari', 'hu...",2941.0,3362.0,3080.0,2456.0,4209.0,NaN,5,1011,86
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",2400.0,2324.0,3101.0,2506.0,7782.0,NaN,5,549,54
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'would', 'eventu', 'flourish...",2222.0,2320.0,2447.0,2439.0,4630.0,NaN,5,724,71
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'saw', 'chang...",1903.0,1954.0,1919.0,1802.0,3943.0,NaN,5,695,64

In [21]:
textos.to_csv("Historia.csv")

In [22]:
textos = pd.read_csv("Historia.csv")
textos = textos.iloc[:,1:]
textos

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",5031.0,4266.0,3941.0,2614.0,3024.0,NaN,1,757,78
1,"During his youth, Alexander was tutored by Ari...","['youth', 'alexand', 'tutor', 'aristotl', 'age...",4970.0,4769.0,3691.0,2864.0,2354.0,NaN,1,821,74
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'reach', 'end', 'worl...",3438.0,3330.0,3299.0,3899.0,1949.0,NaN,1,624,58
3,Alexander's legacy includes the cultural diffu...,"[""alexander'"", 'legaci', 'includ', 'cultur', '...",6087.0,5257.0,3469.0,3093.0,4105.0,NaN,1,1007,87
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",2764.0,2296.0,2605.0,1068.0,1246.0,NaN,1,488,46
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'also', 'regularli', 'hunt...",1832.0,1877.0,2027.0,1653.0,3124.0,NaN,5,592,54
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'number', 'contemporari', 'hu...",2941.0,3362.0,3080.0,2456.0,4209.0,NaN,5,1011,86
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",2400.0,2324.0,3101.0,2506.0,7782.0,NaN,5,549,54
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'would', 'eventu', 'flourish...",2222.0,2320.0,2447.0,2439.0,4630.0,NaN,5,724,71
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'saw', 'chang...",1903.0,1954.0,1919.0,1802.0,3943.0,NaN,5,695,64

In [24]:
textos.sample(10)

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
465,Modern archaeology in formerly Punic areas has...,"['modern', 'archaeolog', 'formerli', 'punic', ...",4201.0,3533.0,3062.0,2428.0,6595.0,NaN,1,1039,95
3778,A 2017 National Bureau of Economic Research pa...,"['2017', 'nation', 'bureau', 'econom', 'resear...",2123.0,3119.0,2208.0,2161.0,3249.0,NaN,4,634,58
4090,"About an hour later, when Ferdinand was return...","['hour', 'later', 'ferdinand', 'return', 'visi...",2167.0,2574.0,2901.0,2615.0,1710.0,NaN,4,1015,95
1641,Charlemagne encouraged clerics to translate Ch...,"['charlemagn', 'encourag', 'cleric', 'translat...",3254.0,4636.0,3738.0,2401.0,3085.0,NaN,2,1046,94
1525,"Under Charlemagne, the Saxon Wars had as their...","['charlemagn', 'saxon', 'war', 'chief', 'objec...",1568.0,2514.0,1633.0,2113.0,992.0,NaN,2,432,41
733,"Archaic Roman religion, at least concerning th...","['archaic', 'roman', 'religion', 'least', 'con...",6677.0,4669.0,3677.0,2322.0,2416.0,NaN,1,945,90
519,"Following the death of Ramesses XI in 1078 BC,...","['follow', 'death', 'ramess', 'xi', '1078bc', ...",6770.0,6536.0,5569.0,4529.0,5670.0,NaN,1,1325,129
12,"Suda writes that, also, Anaximenes of Lampsacu...","['suda', 'write', 'also', 'anaximen', 'lampsac...",884.0,778.0,705.0,501.0,731.0,NaN,1,128,11
1574,"From 781 (Pallars, Ribagorça) to 806 (Pamplona...","['781', 'pallar', 'ribagorça', '806', 'pamplon...",1631.0,3414.0,2251.0,1669.0,915.0,NaN,2,905,86
3226,"The Arg-e Bam, in Kerman Province in southeast...","['arg-', 'bam', 'kerman', 'provinc', 'southeas...",2861.0,2192.0,2043.0,1774.0,3233.0,NaN,3,633,65

In [26]:
textos.groupby(by=["CLASE"]).count()

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,LTCrudo,LTLimpio
CLASE,,,,,,,,,,
1,1165,1165,1165,1165,1165,1165,1165,0,1165,1165
2,1274,1274,1274,1274,1274,1274,1274,0,1274,1274
3,1206,1206,1206,1206,1206,1206,1206,0,1206,1206
4,1028,1028,1028,1028,1028,1028,1028,0,1028,1028
5,1193,1193,1193,1193,1193,1193,1193,0,1193,1193

In [27]:
textos.sample(10)

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
5579,"In the 1980s, important archaeological discove...","['1980', 'import', 'archaeolog', 'discoveri', ...",406.0,333.0,365.0,219.0,662.0,NaN,5,175,18
5707,Little interest was shown by white settlers in...,"['littl', 'interest', 'shown', 'white', 'settl...",2545.0,2510.0,2468.0,2355.0,3019.0,NaN,5,512,49
2294,"At his death, the role of the emperor as a pat...","['death', 'role', 'emperor', 'patron', 'easter...",2360.0,3049.0,2396.0,2112.0,946.0,NaN,2,558,56
5202,"Subsequently, British scholars used either Eva...","['subsequ', 'british', 'scholar', 'use', 'eith...",4741.0,4846.0,4332.0,3686.0,9657.0,NaN,5,1143,104
3513,"Initially on good terms with William and Mary,...","['initi', 'good', 'term', 'william', 'mari', '...",543.0,962.0,993.0,944.0,581.0,NaN,3,304,24
5809,Current artists in vogue include Jacinta Hayes...,"['current', 'artist', 'vogu', 'includ', 'jacin...",322.0,431.0,415.0,292.0,577.0,NaN,5,268,29
2767,The geography of North Africa has been reasona...,"['geographi', 'north', 'africa', 'reason', 'we...",1164.0,1063.0,1247.0,749.0,1489.0,NaN,3,238,24
2557,The English naval commander Francis Drake sail...,"['english', 'naval', 'command', 'franci', 'dra...",2044.0,2815.0,4228.0,2094.0,2588.0,NaN,3,768,87
614,The Roman poet Virgil recounted this legend in...,"['roman', 'poet', 'virgil', 'recount', 'legend...",2830.0,2331.0,2293.0,2122.0,1121.0,NaN,1,494,49
2270,"In the later part of his reign, John focused h...","['later', 'part', 'reign', 'john', 'focus', 'a...",3488.0,5984.0,3910.0,4260.0,1856.0,NaN,2,947,87

In [46]:
# Obtenemos una fila de features
columna = 2
print("CLASE",textos.loc[614,"CLASE"])
CLASE = textos.loc[614,"CLASE"]
print(textos.iloc[614,columna:columna + clases].values)
print("Máximo feature",np.argmax(textos.iloc[614,columna:columna + clases].values) + 1)
featureMax = np.argmax(textos.iloc[614,columna:columna + clases].values) + 1
CLASE == featureMax

CLASE 1
[2830.0 2331.0 2293.0 2122.0 1121.0]
Máximo feature 1

True

In [58]:
cont = 0
for i in textos.index:
    cont += 1
    if cont > 1000000:
        break
    print(textos.loc[i,"CLASE"] ==  np.argmax(textos.iloc[i,columna:columna + clases].values) + 1)
    textos["Predicción"][i] = textos.loc[i,"CLASE"] ==  np.argmax(textos.iloc[i,columna:columna + clases].values) + 1
    clear_output( wait = True )
    print(f"Comparando CLASE y features {i} de {len(textos.index)}") 
textos

Comparando CLASE y features 5865 de 5866

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",5031.0,4266.0,3941.0,2614.0,3024.0,True,1,757,78
1,"During his youth, Alexander was tutored by Ari...","['youth', 'alexand', 'tutor', 'aristotl', 'age...",4970.0,4769.0,3691.0,2864.0,2354.0,True,1,821,74
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'reach', 'end', 'worl...",3438.0,3330.0,3299.0,3899.0,1949.0,False,1,624,58
3,Alexander's legacy includes the cultural diffu...,"[""alexander'"", 'legaci', 'includ', 'cultur', '...",6087.0,5257.0,3469.0,3093.0,4105.0,True,1,1007,87
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",2764.0,2296.0,2605.0,1068.0,1246.0,True,1,488,46
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'also', 'regularli', 'hunt...",1832.0,1877.0,2027.0,1653.0,3124.0,True,5,592,54
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'number', 'contemporari', 'hu...",2941.0,3362.0,3080.0,2456.0,4209.0,True,5,1011,86
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",2400.0,2324.0,3101.0,2506.0,7782.0,True,5,549,54
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'would', 'eventu', 'flourish...",2222.0,2320.0,2447.0,2439.0,4630.0,True,5,724,71
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'saw', 'chang...",1903.0,1954.0,1919.0,1802.0,3943.0,True,5,695,64

In [59]:
textos.to_csv("Historia.csv")

In [60]:
textos = pd.read_csv("Historia.csv")
textos = textos.iloc[:,1:]
textos

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",5031.0,4266.0,3941.0,2614.0,3024.0,True,1,757,78
1,"During his youth, Alexander was tutored by Ari...","['youth', 'alexand', 'tutor', 'aristotl', 'age...",4970.0,4769.0,3691.0,2864.0,2354.0,True,1,821,74
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'reach', 'end', 'worl...",3438.0,3330.0,3299.0,3899.0,1949.0,False,1,624,58
3,Alexander's legacy includes the cultural diffu...,"[""alexander'"", 'legaci', 'includ', 'cultur', '...",6087.0,5257.0,3469.0,3093.0,4105.0,True,1,1007,87
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",2764.0,2296.0,2605.0,1068.0,1246.0,True,1,488,46
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'also', 'regularli', 'hunt...",1832.0,1877.0,2027.0,1653.0,3124.0,True,5,592,54
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'number', 'contemporari', 'hu...",2941.0,3362.0,3080.0,2456.0,4209.0,True,5,1011,86
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",2400.0,2324.0,3101.0,2506.0,7782.0,True,5,549,54
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'would', 'eventu', 'flourish...",2222.0,2320.0,2447.0,2439.0,4630.0,True,5,724,71
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'saw', 'chang...",1903.0,1954.0,1919.0,1802.0,3943.0,True,5,695,64

In [61]:
textos.groupby(by=["Predicción"]).count()

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,CLASE,LTCrudo,LTLimpio
Predicción,,,,,,,,,,
False,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
True,4762,4762,4762,4762,4762,4762,4762,4762,4762,4762

In [63]:
rate = 100 * 4762 / (1104 + 4762)
print("Porcentaje de features acertados",rate)

Porcentaje de features acertados 81.17967950903511

## Ahora vamos a pasarlo por un modelo
Modelo 20.81

## Logramos un accuracy del 85%

### Vamos a extraer la lista de palabras confusas que habíamos obtenido antes

In [68]:
confusas = load_obj("Confusas")

In [69]:
len(confusas)

1213

In [74]:
vocabulario = load_obj("Vocabulario")

In [70]:
confusas

['interven',
 'multipl',
 'stepp',
 'basi',
 'sold',
 'obtain',
 'permit',
 '49',
 'timber',
 'pull',
 'fact',
 '...',
 'half',
 'compos',
 'travel',
 'facilit',
 'exert',
 'head',
 '183',
 'erect',
 'center',
 'alon',
 'innov',
 'villag',
 'princip',
 'militarili',
 'save',
 'inform',
 'broken',
 'coastal',
 'ceas',
 '22',
 'flight',
 '138',
 'commonli',
 'late',
 'basic',
 'cousin',
 'overland',
 '95',
 'cours',
 '212',
 'accompani',
 'kilometr',
 'function',
 '96',
 'scholarship',
 'upon',
 '197',
 'intent',
 'fifth',
 'model',
 '200',
 'outcom',
 '24',
 '123',
 '7',
 'decad',
 'confin',
 '–',
 'laid',
 'deal',
 'mani',
 'forward',
 'balanc',
 'devic',
 'spirit',
 'legaci',
 'thereaft',
 'life',
 'two',
 'first',
 'amount',
 '157',
 'greatest',
 'scheme',
 '27',
 'nearbi',
 'intellig',
 'creation',
 'comput',
 'young',
 'contribut',
 'done',
 'lead',
 'examin',
 'reliabl',
 'involv',
 'kill',
 'except',
 '51',
 'fulli',
 '216',
 'root',
 'neighbor',
 'enabl',
 'symbol',
 'conclus',
 'depend',
 'passag',
 'infect',
 'alongsid',
 'rise',
 'emot',
 'absent',
 'method',
 'repeat',
 'wear',
 'prestig',
 'coincid',
 'point',
 'simon',
 'weight',
 '61',
 'portion',
 'pass',
 'reason',
 '175',
 'seriou',
 'far',
 'latter',
 '194',
 '192',
 'circumst',
 'object',
 '238',
 'design',
 'earli',
 'specul',
 'persist',
 'spoke',
 'profound',
 'stem',
 'claim',
 'island',
 'near',
 '59',
 'pursuit',
 'span',
 '700',
 '211',
 'confirm',
 'harsh',
 'stay',
 'imag',
 'civic',
 'line',
 '181',
 'membership',
 'health',
 'weapon',
 'gift',
 'aspect',
 'everi',
 'help',
 'thrown',
 'virtual',
 'nurs',
 'hierarchi',
 '75',
 'old',
 'properti',
 'rais',
 'wish',
 '68',
 'collect',
 '28',
 'report',
 'pyrene',
 '177',
 'resourc',
 'longer',
 'western',
 'qualiti',
 'three',
 '102',
 'yet',
 'emphasi',
 'provinc',
 'phrase',
 'move',
 'sever',
 'rel',
 'quit',
 'substanti',
 'greater',
 'london',
 'film',
 'behaviour',
 'contrast',
 'attach',
 'uncl',
 'speech',
 '44',
 '179',
 'festiv',
 'blood',
 'result',
 'westward',
 'retain',
 'strongest',
 'promin',
 'start',
 'girl',
 'leav',
 'men',
 'introduc',
 'academ',
 'major',
 '71',
 'gener',
 'technic',
 'mean',
 'broad',
 'one',
 'read',
 'perspect',
 'arrang',
 'profit',
 'might',
 'match',
 'either',
 'conduct',
 'metr',
 'parallel',
 'precipit',
 'around',
 'use',
 'ruin',
 '163',
 'soul',
 '232',
 'clearli',
 '73',
 'question',
 '160',
 '16',
 '30',
 'assign',
 '214',
 'celebr',
 '127',
 'limit',
 'reduc',
 'comfort',
 'elder',
 'slightli',
 'j',
 'popular',
 'eye',
 'privat',
 'per',
 '213',
 'primarili',
 '41',
 'chanc',
 'roughli',
 ';[',
 'valu',
 'specif',
 'back',
 'spiritu',
 '43',
 'carri',
 'matter',
 'dramat',
 '50',
 'local',
 'target',
 'room',
 'fortif',
 'say',
 'continu',
 '158',
 'releas',
 '116',
 'protect',
 'estim',
 'creat',
 'chang',
 'particular',
 'path',
 '159',
 'centr',
 'focus',
 '66',
 '149',
 'see',
 'recogn',
 'begin',
 'think',
 'full',
 'disappear',
 'left',
 'wore',
 'blow',
 'calcul',
 'play',
 '37',
 'obviou',
 '53',
 'sound',
 'complic',
 'night',
 'ban',
 'could',
 'cohes',
 'histori',
 'avoid',
 '171',
 'west',
 '162',
 'transact',
 'argument',
 'vacuum',
 'extern',
 'rhine',
 'wave',
 'compris',
 'altogeth',
 'novel',
 'determin',
 'street',
 '450',
 'ensu',
 'e',
 'distinguish',
 'sustain',
 'iberia',
 'lover',
 'whole',
 'respons',
 'hereditari',
 'unif',
 '63',
 'plenti',
 'insid',
 'occupi',
 'round',
 'percent',
 'extens',
 '234',
 'develop',
 '104',
 'influenti',
 'employ',
 'spent',
 'convinc',
 'advantag',
 '101',
 'contrari',
 'uniqu',
 'explicitli',
 'patern',
 'instead',
 'protector',
 'go',
 'neighbour',
 'ordinari',
 'occas',
 'none',
 ');',
 '107',
 'frontier',
 'central',
 'mainland',
 '199',
 'educ',
 'meet',
 'oppos',
 'figur',
 '165',
 'previou',
 'expand',
 'flourish',
 'drawn',
 'taken',
 'set',
 'male',
 'absolut',
 'struck',
 'lie',
 'contract',
 'problem',
 'trap',
 'open',
 'seven',
 '135',
 'dedic',
 'corsica',
 'persia',
 'draw',
 'public',
 'downfal',
 '193',
 '21',
 'busi',
 'across',
 'equip',
 'learn',
 'suppos',
 'devast',
 'mainli',
 'statu',
 '1800',
 'due',
 'case',
 'colleagu',
 'medic',
 'narrow',
 'respect',
 '18',
 'separ',
 'happen',
 'preserv',
 '60',
 '126',
 '115',
 'regard',
 '119',
 'take',
 'integr',
 'mid',
 'consider',
 'strip',
 '11',
 'woman',
 'sort',
 '78',
 'long',
 '33',
 'burden',
 'bulk',
 'appar',
 'time',
 '67',
 'close',
 'damag',
 'propos',
 'signific',
 'structur',
 'hand',
 'declin',
 'side',
 'support',
 'saw',
 'illustr',
 'appli',
 'littl',
 'accomplish',
 'fashion',
 'five',
 'addit',
 'detail',
 'mortal',
 'exercis',
 'away',
 'rose',
 'revis',
 'touch',
 'thu',
 '137',
 'export',
 'devot',
 'represent',
 'also',
 'payment',
 'voic',
 '235',
 'exact',
 '103',
 'main',
 'border',
 'coastlin',
 'share',
 '125',
 'contemporari',
 '108',
 'intend',
 '176',
 'child',
 'myth',
 'systemat',
 'preciou',
 'answer',
 'perpetu',
 'explan',
 '79',
 'fit',
 'allow',
 'chose',
 'countrysid',
 'interest',
 'onward',
 'massiv',
 'therebi',
 'noth',
 'small',
 '70',
 '40',
 '246',
 'fruit',
 'ideal',
 'media',
 'prompt',
 'credit',
 'sailor',
 'often',
 'gave',
 'econom',
 'absenc',
 'displac',
 '20',
 'obscur',
 'prosper',
 '72',
 'less',
 'proceed',
 'blue',
 '166',
 'market',
 'like',
 'mostli',
 'suffici',
 'trip',
 'contend',
 'effect',
 'seri',
 'seem',
 '36',
 '19',
 'highli',
 'archer',
 'project',
 '69',
 'total',
 'outsid',
 'whether',
 'increasingli',
 '130',
 '180',
 'requir',
 'prolong',
 '206',
 'serv',
 'ton',
 'code',
 '111',
 'unusu',
 'tall',
 '54',
 'becam',
 'road',
 'annual',
 'live',
 'seizur',
 'eighth',
 '32',
 'engag',
 'remind',
 'stress',
 'light',
 'equal',
 'shift',
 '202',
 'instabl',
 'content',
 'extract',
 'opposit',
 'simpli',
 'certain',
 'encourag',
 'judg',
 'town',
 '242',
 'founder',
 'individu',
 'lieuten',
 'expect',
 'give',
 'tie',
 'insert',
 '—',
 'regul',
 'alter',
 '100',
 'keep',
 'author',
 'bring',
 '400',
 'altern',
 'fals',
 'color',
 'david',
 'heart',
 'occup',
 'come',
 'pursu',
 'profession',
 '168',
 'known',
 '210',
 'pit',
 'enjoy',
 'cite',
 'unlik',
 '204',
 'suppress',
 'skill',
 'enorm',
 'els',
 'strongli',
 'song',
 '57',
 'bear',
 'present',
 '93',
 '99',
 '230',
 '91',
 'repel',
 'regularli',
 'everyday',
 'hall',
 'expens',
 'economi',
 'although',
 '185',
 'clear',
 'frequent',
 'strict',
 'throughout',
 'behind',
 '121',
 'unifi',
 'physician',
 'expos',
 'choic',
 'signal',
 'exhaust',
 'factor',
 'belief',
 'comment',
 'wing',
 'disput',
 'standard',
 '5',
 'entiti',
 'moral',
 'maintain',
 'rank',
 'shortli',
 'advanc',
 'alleg',
 'four',
 '48',
 'chamber',
 'place',
 'stabil',
 'grow',
 'condit',
 'overse',
 '47',
 '52',
 'context',
 'stall',
 '98',
 'doubl',
 'river',
 'attract',
 'superior',
 'childhood',
 '114',
 '35',
 'master',
 'divid',
 'aftermath',
 'high',
 'poorli',
 'artifici',
 '300',
 'channel',
 'compet',
 'someth',
 'reli',
 'famou',
 'wealthi',
 'elit',
 'access',
 'deliber',
 'initi',
 'speed',
 'immedi',
 'practis',
 'combin',
 'slow',
 'visit',
 'display',
 'way',
 'orient',
 'medium',
 'frame',
 'accord',
 'citi',
 'societi',
 'usual',
 'event',
 'great',
 'concern',
 'restrict',
 'harvest',
 'directli',
 '6',
 'asia',
 'grown',
 'particularli',
 'replac',
 'popul',
 'toward',
 'kind',
 'minor',
 'extend',
 'thin',
 'era',
 'afterward',
 'mount',
 'agre',
 '189',
 '205',
 'largest',
 'fairli',
 'numer',
 'approxim',
 'purpos',
 '156',
 'new',
 'look',
 'notabl',
 'treat',
 'item',
 '23',
 'motiv',
 'stretch',
 'scenario',
 'thing',
 'dream',
 'short',
 '148',
 'exist',
 'isthmu',
 'firmli',
 '215',
 'desir',
 'funer',
 'among',
 'extent',
 'turn',
 'second',
 'anyth',
 'stop',
 'prior',
 'never',
 'resolv',
 'resembl',
 'simultan',
 '222',
 'arabia',
 'exchang',
 'regular',
 'supplant',
 'system',
 '224',
 '129',
 '8]',
 'rest',
 'given',
 'assum',
 'wide',
 'home',
 'essenti',
 'encount',
 'surplu',
 'common',
 'x',
 'spectacular',
 'ill',
 'embrac',
 'gone',
 'borrow',
 'elsewher',
 'inconclus',
 'suppli',
 'may',
 '34',
 'settl',
 'perform',
 'interior',
 'role',
 'man',
 'fill',
 '109',
 'repres',
 'subject',
 'lack',
 '45',
 'region',
 'warfar',
 'bow',
 'view',
 '155',
 'later',
 '20th',
 'similarli',
 'north',
 'deni',
 'transport',
 'sens',
 'spot',
 'rough',
 '141',
 'asid',
 'algeria',
 'yield',
 'freed',
 'still',
 'earn',
 '140',
 'special',
 '225',
 'field',
 'moment',
 'togeth',
 'turmoil',
 'divin',
 'understood',
 'shape',
 '9',
 'term',
 'especi',
 'actual',
 'constant',
 'cast',
 '77',
 '173',
 'unpreced',
 'hold',
 '13',
 'isol',
 'heavili',
 'sinc',
 'normal',
 'well',
 '2nd',
 'domin',
 'outer',
 'famili',
 'driven',
 'stage',
 'black',
 'past',
 'tell',
 'fall',
 'concentr',
 '”',
 'stand',
 'singl',
 'consist',
 'parent',
 'anoth',
 'consid',
 'made',
 'sophist',
 'justifi',
 'bodi',
 'northward',
 'prove',
 'school',
 'confeder',
 'better',
 '29',
 '201',
 'scatter',
 'own',
 'adopt',
 'without',
 '56',
 'niec',
 'city',
 'follow',
 'platform',
 'need',
 'link',
 'intens',
 'third',
 'letter',
 '10',
 'challeng',
 'accur',
 'call',
 'destruct',
 'remain',
 'awar',
 'partial',
 '150',
 'ten',
 '128',
 'south',
 'primari',
 'wealth',
 '42',
 'ground',
 'make',
 'desert',
 'inferior',
 'floor',
 '167',
 'inspir',
 'seen',
 'step',
 'assault',
 'eastern',
 'mother',
 'six',
 'watch',
 'told',
 'la',
 'younger',
 'abandon',
 'salt',
 'variou',
 'mutual',
 'divers',
 'unabl',
 'sole',
 'alway',
 'aros',
 'measur',
 '65',
 'foot',
 '182',
 '188',
 'mile',
 '146',
 'imposs',
 'member',
 'acquir',
 'isl',
 'bar',
 'spring',
 'relat',
 'aliv',
 'g',
 '31',
 'abl',
 'version',
 'cut',
 'retreat',
 '236',
 'northeast',
 'via',
 'begun',
 '136',
 '223',
 'lent',
 '143',
 'experienc',
 '62',
 'soon',
 'diminish',
 'briefli',
 'geograph',
 'world',
 'confront',
 'satisfi',
 'knew',
 '178',
 '120',
 'ever',
 'peak',
 'charact',
 'significantli',
 'deliv',
 'weaken',
 'transform',
 'rebuilt',
 'afford',
 '76',
 'abil',
 'final',
 'list',
 'believ',
 'cross',
 '14',
 'sick',
 'relationship',
 'remov',
 'sometim',
 'mark',
 'undisput',
 'inch',
 ...]

In [71]:
textos.sample(10)

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
173,It was ideal to mine stones from quarries that...,"['ideal', 'mine', 'stone', 'quarri', 'situat',...",3302.0,2460.0,2183.0,2143.0,4789.0,False,1,732,70
5330,Their ultimate extinction coincides with Heinr...,"['ultim', 'extinct', 'coincid', 'heinrich', 'e...",5091.0,5021.0,5444.0,4222.0,13312.0,True,5,1217,120
3425,"During this time, the Portuguese gradually swi...","['time', 'portugues', 'gradual', 'switch', 'in...",2046.0,2729.0,3954.0,2352.0,2569.0,True,3,662,59
1443,Physical anthropologists have found striking s...,"['physic', 'anthropologist', 'found', 'strike'...",531.0,880.0,440.0,250.0,1296.0,False,2,233,18
5189,"The world's oldest known engineered roadway, t...","[""world'"", 'oldest', 'known', 'engin', 'roadwa...",534.0,539.0,542.0,425.0,891.0,True,5,190,19
176,Cranes were used for construction work and pos...,"['crane', 'use', 'construct', 'work', 'possibl...",1699.0,1492.0,1615.0,1242.0,2325.0,False,1,337,33
4452,The 1945 Allied conference in San Francisco es...,"['1945', 'alli', 'confer', 'san', 'francisco',...",752.0,873.0,962.0,2112.0,489.0,True,4,455,40
4849,Petroglyphs appeared in the Neolithic. A Petro...,"['petroglyph', 'appear', 'neolith', 'petroglyp...",1280.0,1428.0,1553.0,1405.0,2690.0,True,5,468,47
3658,"Originally set up as law courts, by the mid-18...","['origin', 'set', 'law', 'court', 'mid', '18th...",1257.0,1825.0,1897.0,1704.0,863.0,False,4,484,45
1449,The Italian language preserves a large number ...,"['italian', 'languag', 'preserv', 'larg', 'num...",1001.0,2095.0,1225.0,1584.0,828.0,True,2,429,39

In [77]:
cont = 0
for i in textos.index:
    cont += 1
    if cont > 1000000:
        break
    
    print()
    print("Antes de sacar las confusas",len(textos["TextoLimpio"][i][:-1].split(",")),textos["TextoLimpio"][i][:-1].split(","))     
    print()
        
    palabras = []    
    for word in textos["TextoLimpio"][i][:-1].split(","):
        word = word[2:-1]
        while word[-1:] == "'" or word[-1:] == '"':
            word = limpiarWord(word)
        assert (word in vocabulario),"La palabra " + word + "no está en el vocabulario!"   
        if word not in confusas: 
            palabras.append(word)    

    print()
    print("SIN confusas",len(palabras),palabras)     
    print()
            
    textos["TextoLimpio"][i] = palabras        
            
    clear_output( wait = True )
    print(f"Sacando confusas {i} de {len(textos.index)}") 
textos

Saando confusas 5865 de 5866

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"[alexand, iii, macedon, greek, αλέξανδρος, γʹ,...",5031.0,4266.0,3941.0,2614.0,3024.0,True,1,757,78
1,"During his youth, Alexander was tutored by Ari...","[alexand, tutor, aristotl, age, philip, assass...",4970.0,4769.0,3691.0,2864.0,2354.0,True,1,821,74
2,"Alexander endeavoured to reach the ""ends of th...","[alexand, endeavour, sea, invad, india, 326bc,...",3438.0,3330.0,3299.0,3899.0,1949.0,False,1,624,58
3,Alexander's legacy includes the cultural diffu...,"[alexander, cultur, diffus, syncret, conquest,...",6087.0,5257.0,3469.0,3093.0,4105.0,True,1,1007,87
4,"Alexander was born in Pella, the capital of th...","[alexand, born, pella, capit, kingdom, macedon...",2764.0,2296.0,2605.0,1068.0,1246.0,True,1,488,46
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"[agriculturalist, hunt, gather, farm, frost-fr...",1832.0,1877.0,2027.0,1653.0,3124.0,True,5,592,54
5862,There are nevertheless a number of contemporar...,"[nevertheless, hunter-gather, contact, influen...",2941.0,3362.0,3080.0,2456.0,4209.0,True,5,1011,86
5863,Evidence suggests big-game hunter-gatherers cr...,"[evid, suggest, big-gam, hunter-gather, bere, ...",2400.0,2324.0,3101.0,2506.0,7782.0,True,5,549,54
5864,Hunter-gatherers would eventually flourish all...,"[hunter-gather, america, base, plain, unit, st...",2222.0,2320.0,2447.0,2439.0,4630.0,True,5,724,71
5865,The Archaic period in the Americas saw a chang...,"[archaic, period, america, environ, featur, wa...",1903.0,1954.0,1919.0,1802.0,3943.0,True,5,695,64

In [79]:
for i in textos.index:
    textos["LTCrudo"][i]  = len(textos["TextoCrudo"][i])
    textos["LTLimpio"][i] = len(textos["TextoLimpio"][i])
    clear_output( wait = True )
    print(f"Calculando logitudes {i} de {len(textos.index)}") 
textos

Calculando logitudes 5865 de 5866

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"[alexand, iii, macedon, greek, αλέξανδρος, γʹ,...",5031.0,4266.0,3941.0,2614.0,3024.0,True,1,757,59
1,"During his youth, Alexander was tutored by Ari...","[alexand, tutor, aristotl, age, philip, assass...",4970.0,4769.0,3691.0,2864.0,2354.0,True,1,821,53
2,"Alexander endeavoured to reach the ""ends of th...","[alexand, endeavour, sea, invad, india, 326bc,...",3438.0,3330.0,3299.0,3899.0,1949.0,False,1,624,38
3,Alexander's legacy includes the cultural diffu...,"[alexander, cultur, diffus, syncret, conquest,...",6087.0,5257.0,3469.0,3093.0,4105.0,True,1,1007,56
4,"Alexander was born in Pella, the capital of th...","[alexand, born, pella, capit, kingdom, macedon...",2764.0,2296.0,2605.0,1068.0,1246.0,True,1,488,36
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"[agriculturalist, hunt, gather, farm, frost-fr...",1832.0,1877.0,2027.0,1653.0,3124.0,True,5,592,31
5862,There are nevertheless a number of contemporar...,"[nevertheless, hunter-gather, contact, influen...",2941.0,3362.0,3080.0,2456.0,4209.0,True,5,1011,47
5863,Evidence suggests big-game hunter-gatherers cr...,"[evid, suggest, big-gam, hunter-gather, bere, ...",2400.0,2324.0,3101.0,2506.0,7782.0,True,5,549,41
5864,Hunter-gatherers would eventually flourish all...,"[hunter-gather, america, base, plain, unit, st...",2222.0,2320.0,2447.0,2439.0,4630.0,True,5,724,42
5865,The Archaic period in the Americas saw a chang...,"[archaic, period, america, environ, featur, wa...",1903.0,1954.0,1919.0,1802.0,3943.0,True,5,695,36

# Vamos a recalcular las frecuencias sin confusas

In [81]:
frecuencias = defaultdict(int)
clases = 5
cont = 0
for i in textos.index:
    cont += 1
    if cont > 10000000:
        break
    for word in textos["TextoLimpio"][i][:-1]:
        # word = word[2:-1]
        while word[-1:] == "'" or word[-1:] == '"':
            word = limpiarWord(word)
        frecuencias[(word, textos["CLASE"][i])] = frecuencias.get((word, textos["CLASE"][i]), 0) + 1    
    clear_output( wait = True )
    print(f"Creando Frecuencias {i} de {len(textos.index)}")      
frecuencias

Creando Frecuencias 5865 de 5866

defaultdict(int,
            {('alexand', 1): 292,
             ('iii', 1): 56,
             ('macedon', 1): 18,
             ('greek', 1): 270,
             ('αλέξανδρος', 1): 1,
             ('γʹ', 1): 1,
             ('ὁ', 1): 2,
             ('μακεδών', 1): 1,
             ('aléxandro', 1): 1,
             ('ho', 1): 2,
             ('makedȏn', 1): 1,
             ('20/21', 1): 1,
             ('juli', 1): 7,
             ('356bc', 1): 3,
             ('10/11', 1): 1,
             ('june', 1): 3,
             ('323bc', 1): 4,
             ('μέγας', 1): 1,
             ('méga', 1): 1,
             ('king', 1): 237,
             ('basileu', 1): 3,
             ('ancient', 1): 213,
             ('kingdom', 1): 124,
             ('argead', 1): 1,
             ('dynasti', 1): 81,
             ('born', 1): 15,
             ('pella', 1): 3,
             ('succeed', 1): 22,
             ('father', 1): 48,
             ('philip', 1): 56,
             ('ii', 1): 159,
             ('throne', 1): 36,
             ('age', 1): 95,
             ('rule', 1): 107,
             ('year', 1): 167,
             ('militari', 1): 156,
             ('campaign', 1): 84,
             ('africa', 1): 52,
             ('thirti', 1): 4,
             ('empir', 1): 249,
             ('greec', 1): 30,
             ('northwestern', 1): 6,
             ('india', 1): 14,
             ('undef', 1): 2,
             ('battl', 1): 121,
             ('history', 1): 1,
             ('success', 1): 49,
             ('tutor', 1): 4,
             ('aristotl', 1): 34,
             ('assassin', 1): 35,
             ('336bc', 1): 3,
             ('inherit', 1): 10,
             ('armi', 1): 143,
             ('award', 1): 1,
             ('generalship', 1): 3,
             ('launch', 1): 13,
             ('pan-hellen', 1): 1,
             ('conquest', 1): 72,
             ('334bc', 1): 3,
             ('invad', 1): 50,
             ('achaemenid', 1): 36,
             ('persian', 1): 104,
             ('anatolia', 1): 19,
             ('broke', 1): 16,
             ('power', 1): 211,
             ('decis', 1): 28,
             ('issu', 1): 18,
             ('gaugamela', 1): 4,
             ('overthrew', 1): 5,
             ('dariu', 1): 22,
             ('conquer', 1): 64,
             ('entireti', 1): 3,
             ('adriat', 1): 1,
             ('sea', 1): 49,
             ('endeavour', 1): 2,
             ('326bc', 1): 2,
             ('win', 1): 9,
             ('import', 1): 97,
             ('victori', 1): 63,
             ('paurava', 1): 1,
             ('hydasp', 1): 7,
             ('demand', 1): 18,
             ('homesick', 1): 1,
             ('troop', 1): 47,
             ('die', 1): 63,
             ('babylon', 1): 22,
             ('plan', 1): 17,
             ('establish', 1): 77,
             ('capit', 1): 55,
             ('execut', 1): 25,
             ('invas', 1): 51,
             ('death', 1): 106,
             ('civil', 1): 98,
             ('war', 1): 248,
             ('tore', 1): 1,
             ('state', 1): 89,
             ('diadochi', 1): 2,
             ('alexander', 1): 84,
             ('surviv', 1): 50,
             ('cultur', 1): 196,
             ('diffus', 1): 3,
             ('syncret', 1): 5,
             ('engend', 1): 1,
             ('greco-buddh', 1): 2,
             ('found', 1): 141,
             ('twenti', 1): 8,
             ('bore', 1): 6,
             ('name', 1): 128,
             ('alexandria', 1): 28,
             ('egypt', 1): 175,
             ('settlement', 1): 39,
             ('colonist', 1): 4,
             ('hellenist', 1): 49,
             ('evid', 1): 73,
             ('tradit', 1): 71,
             ('byzantin', 1): 14,
             ('15th', 1): 2,
             ('centuri', 1): 272,
             ('ad', 1): 155,
             ('presenc', 1): 19,
             ('speaker', 1): 8,
             ('genocid', 1): 1,
             ('1920', 1): 1,
             ('legendari', 1): 9,
             ('classic', 1): 39,
             ('hero', 1): 9,
             ('mould', 1): 1,
             ('achil', 1): 4,
             ('featur', 1): 27,
             ('mythic', 1): 6,
             ('non-greek', 1): 3,
             ('leader', 1): 38,
             ('compar', 1): 26,
             ('academi', 1): 5,
             ('teach', 1): 5,
             ('sixth', 1): 14,
             ('day', 1): 51,
             ('month', 1): 20,
             ('hekatombaion', 1): 1,
             ('probabl', 1): 52,
             ('correspond', 1): 6,
             ('date', 1): 54,
             ('uncertain', 1): 12,
             ('son', 1): 86,
             ('fourth', 1): 31,
             ('wife', 1): 25,
             ('olympia', 1): 11,
             ('daughter', 1): 35,
             ('neoptolemu', 1): 1,
             ('epiru', 1): 7,
             ('wive', 1): 4,
             ('birth', 1): 7,
             ('biograph', 1): 4,
             ('plutarch', 1): 42,
             ('eve', 1): 1,
             ('consumm', 1): 1,
             ('marriag', 1): 30,
             ('womb', 1): 3,
             ('thunderbolt', 1): 1,
             ('flame', 1): 4,
             ('wed', 1): 4,
             ('secur', 1): 27,
             ('seal', 1): 15,
             ('engrav', 1): 4,
             ('lion', 1): 7,
             ('offer', 1): 38,
             ('varieti', 1): 15,
             ('interpret', 1): 10,
             ('pregnant', 1): 1,
             ('indic', 1): 27,
             ('zeu', 1): 6,
             ('ambiti', 1): 6,
             ('promulg', 1): 4,
             ('stori', 1): 30,
             ('parentag', 1): 1,
             ('various', 1): 4,
             ('dismiss', 1): 3,
             ('suggest', 1): 92,
             ('prepar', 1): 19,
             ('sieg', 1): 36,
             ('potidea', 1): 1,
             ('peninsula', 1): 28,
             ('chalcidic', 1): 1,
             ('receiv', 1): 18,
             ('news', 1): 7,
             ('parmenion', 1): 4,
             ('defeat', 1): 126,
             ('illyrian', 1): 3,
             ('paeonian', 1): 1,
             ('hors', 1): 40,
             ('olymp', 1): 2,
             ('game', 1): 25,
             ('templ', 1): 128,
             ('artemi', 1): 2,
             ('ephesu', 1): 2,
             ('wonder', 1): 3,
             ('burnt', 1): 5,
             ('led', 1): 101,
             ('hegesia', 1): 1,
             ('magnesia', 1): 3,
             ('attend', 1): 3,
             ('possibl', 1): 44,
             ('instig', 1): 5,
             ('show', 1): 48,
             ('superhuman', 1): 1,
             ('destin', 1): 3,
             ('lanik', 1): 1,
             ('sister', 1): 6,
             ('futur', 1): 10,
             ('cleitu', 1): 4,
             ('leonida', 1): 1,
             ('lysimachu', 1): 2,
             ('acarnania', 1): 1,
             ('manner', 1): 11,
             ('nobl', 1): 28,
             ('macedonian', 1): 45,
             ('lyre', 1): 6,
             ('ride', 1): 8,
             ('fight', 1): 34,
             ('trader', 1): 6,
             ('thessali', 1): 3,
             ('sell', 1): 8,
             ('thirteen', 1): 2,
             ('talent', 1): 8,
             ('refus', 1): 24,
             ('order', 1): 68,
             ('detect', 1): 4,
             ('horse', 1): 1,
             ('fear', 1): 13,
             ('shadow', 1): 4,
             ('ask', 1): 14,
             ('tame', 1): 1,
             ('manag', 1): 28,
             ('overjoy', 1): 1,
             ('courag', 1): 6,
             ('ambit', 1): 9,
             ('kiss', 1): 2,
             ('tear', 1): 4,
             ('declar', 1): 11,
             ('find', 1): 25,
             ('big', 1): 1,
             ('bought', 1): 2,
             ('bucephala', 1): 3,
             ('ox-head', 1): 1,
             ('anim', 1): 43,
             ('search', 1): 5,
             ('isocr', 1): 2,
             ('speusippu', 1): 1,
             ('resign', 1): 5,
             ('stewardship', 1): 1,
             ('post', 1): 11,
             ('nymph', 1): 1,
             ('mieza', 1): 2,
             ('classroom', 1): 1,
             ('return', 1): 58,
             ('rebuild', 1): 7,
             ('aristotle', 1): 11,
             ('hometown', 1): 1,
             ('stageira', 1): 1,
             ('raze', 1): 4,
             ('repopul', 1): 3,
             ('buy', 1): 5,
             ('free', 1): 14,
             ('ex-citizen', 1): 1,
             ('slave', 1): 33,
             ('pardon', 1): 6,
             ('board', 1): 11,
             ('children', 1): 39,
             ('ptolemi', 1): 41,
             ('hephaist', 1): 1,
             ('cassand', 1): 1,
             ('student', 1): 6,
             ('friend', 1): 19,
             ('companion', 1): 12,
             ('medicin', 1): 9,
             ('philosophi', 1): 8,
             ('religion', 1): 54,
             ('logic', 1): 2,
             ('art', 1): 77,
             ('tutelag', 1): 2,
             ('passion', 1): 1,
             ('work', 1): 100,
             ('homer', 1): 2,
             ('iliad', 1): 1,
             ('annot', 1): 1,
             ('copi', 1): 6,
             ('acquaint', 1): 1,
             ('exil', 1): 25,
             ('court', 1): 38,
             ('artaxerx', 1): 5,
             ('artabazo', 1): 1,
             ('barsin', 1): 2,
             ('mistress', 1): 2,
             ('352', 1): 1,
             ('342bc', 1): 1,
             ('amminap', 1): 1,
             ('satrap', 1): 13,
             ('nobleman', 1): 4,
             ('sisin', 1): 1,
             ('good', 1): 37,
             ('knowledg', 1): 27,
             ('influenc', 1): 76,
             ('suda', 1): 1,
             ('write', 1): 63,
             ('anaximen', 1): 3,
             ('lampsacu', 1): 1,
             ('teacher', 1): 7,
             ('wage', 1): 9,
             ('byzant', 1): 1,
             ('charg', 1): 19,
             ('regent', 1): 4,
             ('heir', 1): 18,
             ('thracian', 1): 7,
             ('maedi', 1): 1,
             ('revolt', 1): 49,
             ('macedonia', 1): 5,
             ('respond', 1): 8,
             ('drive', 1): 1,
             ('territori', 1): 78,
             ('colon', 1): 4,
             ('dispatch', 1): 4,
             ('forc', 1): 167,
             ('subdu', 1): 7,
             ('southern', 1): 59,
             ('thrace', 1): 6,
             ('perinthu', 1): 1,
             ('amphissa', 1): 2,
             ('land', 1): 103,
             ('sacr', 1): 20,
             ('apollo', 1): 4,
             ('delphi', 1): 1,
             ('sacrileg', 1): 1,
             ('opportun', 1): 7,
             ('affair', 1): 19,
             ('muster', 1): 3,
             ('attack', 1): 30,
             ('illyria', 1): 6,
             ('join', 1): 12,
             ('338bc', 1): 2,
             ('march', 1): 55,
             ('thermopyla', 1): 2,
             ('stubborn', 1): 2,
             ('resist', 1): 19,
             ('theban', 1): 9,
             ('garrison', 1): 10,
             ('elatea', 1): 2,
             ('athen', 1): 15,
             ('thebe', 1): 20,
             ('athenian', 1): 8,
             ('demosthen', 1): 4,
             ('vote', 1): 13,
             ('seek', 1): 10,
             ('allianc', 1): 26,
             ('sent', 1): 39,
             ('embassi', 1): 5,
             ('favour', 1): 7,
             ('ostens', 1): 2,
             ('act', 1): 26,
             ('request', 1): 5,
             ('amphictyon', 1): 2,
             ('leagu', 1): 6,
             ('captur', 1): 52,
             ('mercenari', 1): 22,
             ('surrend', 1): 7,
             ('send', 1): 12,
             ('peac', 1): 43,
             ('oppon', 1): 15,
             ('block', 1): 16,
             ('chaeronea', 1): 3,
             ('boeotia', 1): 1,
             ('command', 1): 82,
             ('right', 1): 39,
             ('group', 1): 47,
             ('trust', 1): 3,
             ('sourc', 1): 74,
             ('fought', 1): 25,
             ('bitterli', 1): 1,
             ('count', 1): 3,
             ('untest', 1): 1,
             ('hoplit', 1): 5,
             ('break', 1): 7,
             ('enemy', 1): 2,
             ('press', 1): 3,
             ('rout', 1): 33,
             ('lost', 1): 44,
             ('unoppos', 1): 1,
             ('peloponnes', 1): 1,
             ('welcom', 1): 4,
             ('sparta', 1): 6,
             ('resort', 1): 5,
             ('corinth', 1): 9,
             ('hellen', 1): 12,
             ('anti-persian', 1): 1,
             ('greco-persian', 1): 1,
             ('city-st', 1): 26,
             ('hegemon', 1): 4,
             ('translat', 1): 19,
             ('suprem', 1): 19,
             ('modern', 1): 93,
             ('scholar', 1): 41,
             ('announc', 1): 3,
             ('fell', 1): 26,
             ('love', 1): 13,
             ('marri', 1): 27,
             ('cleopatra', 1): 29,
             ('eurydic', 1): 3,
             ('attalu', 1): 7,
             ('posit', 1): 22,
             ('half-macedonian', 1): 1,
             ('banquet', 1): 4,
             ('drunken', 1): 3,
             ('publicli', 1): 1,
             ('pray', 1): 2,
             ('god', 1): 100,
             ('union', 1): 6,
             ('produc', 1): 45,
             ('legitim', 1): 5,
             ('drink', 1): 10,
             ('implor', 1): 2,
             ('law', 1): 48,
             ('successor', 1): 49,
             ('irrit', 1): 1,
             ('throw', 1): 5,
             ('cup', 1): 2,
             ('villain', 1): 3,
             ('bastard', 1): 1,
             ('attalus', 1): 1,
             ('fortun', 1): 2,
             ('over-hasti', 1): 1,
             ('rage', 1): 3,
             ('wine', 1): 12,
             ('drunk', 1): 1,
             ('slip', 1): 1,
             ('reproach', 1): 1,
             ('insult', 1): 3,
             ('europ', 1): 45,
             ('337bc', 1): 1,
             ('fled', 1): 27,
             ('drop', 1): 2,
             ('brother', 1): 41,
             ('dodona', 1): 1,
             ('molossian', 1): 1,
             ('sought', 1): 16,
             ('perhap', 1): 37,
             ('glaukia', 1): 2,
             ('guest', 1): 2,
             ('despit', 1): 32,
             ('appear', 1): 63,
             ('disown', 1): 1,
             ('polit', 1): 135,
             ('accordingli', 1): 3,
             ('effort', 1): 11,
             ('demaratu', 1): 1,
             ('mediat', 1): 3,
             ('governor', 1): 32,
             ('caria', 1): 5,
             ('pixodaru', 1): 2,
             ('eldest', 1): 1,
             ('half-broth', 1): 2,
             ('arrhidaeu', 1): 4,
             ('react', 1): 1,
             ('actor', 1): 1,
             ('thessalu', 1): 2,
             ('illegitim', 1): 2,
             ('heard', 1): 3,
             ('negoti', 1): 9,
             ('scold', 1): 1,
             ('carian', 1): 1,
             ('explain', 1): 8,
             ('want', 1): 26,
             ('bride', 1): 5,
             ('harpalu', 1): 1,
             ('nearchu', 1): 4,
             ('erigyiu', 1): 1,
             ('corinthian', 1): 2,
             ('summer', 1): 6,
             ('aega', 1): 1,
             ('olympias', 1): 1,
             ('captain', 1): 3,
             ('bodyguard', 1): 4,
             ('pausania', 1): 5,
             ('tri', 1): 21,
             ('escap', 1): 17,
             ('vine', 1): 2,
             ('pursuer', 1): 1,
             ('perdicca', 1): 7,
             ('leonnatu', 1): 2,
             ('proclaim', 1): 10,
             ('reign', 1): 77,
             ('elimin', 1): 5,
             ('potenti', 1): 5,
             ('rival', 1): 28,
             ('former', 1): 33,
             ('amynta', 1): 2,
             ('iv', 1): 34,
             ('princ', 1): 23,
             ('lyncesti', 1): 1,
             ('spare', 1): 7,
             ('lyncest', 1): 1,
             ('europa', 1): 1,
             ('burn', 1): 14,
             ('furiou', 1): 1,
             ('murder', 1): 23,
             ('guard', 1): 19,
             ('defect', 1): 2,
             ('danger', 1): 7,
             ('account', 1): 62,
             ('mental', 1): 2,
             ('disabl', 1): 3,
             ('poison', 1): 20,
             ('rous', 1): 1,
             ('tribe', 1): 59,
             ('advis', 1): 6,
             ('diplomaci', 1): 1,
             ('', 1): 40,
             ('0', 1): 83,
             ('cavalri', 1): 38,
             ('rode', 1): 2,
             ('thessalian', 1): 3,
             ('olympu', 1): 1,
             ('ossa', 1): 2,
             ('awok', 1): 1,
             ('rear', 1): 2,
             ('promptli', 1): 3,
             ('su', 1): 6,
             ('rebel', 1): 17,
             ('diogen', 1): 3,
             ('cynic', 1): 1,
             ('occur', 1): 11,
             ('philosoph', 1): 13,
             ('disdain', 1): 1,
             ('sunlight', 1): 1,
             ('repli', 1): 5,
             ('delight', 1): 2,
             ('verili', 1): 1,
             ('took', 1): 60,
             ('titl', 1): 41,
             ('appoint', 1): 44,
             ('safeguard', 1): 1,
             ('335bc', 1): 1,
             ('amphipoli', 1): 2,
             ('countri', 1): 38,
             ('independ', 1): 33,
             ('haemu', 1): 1,
             ('tribal', 1): 13,
             ('lyginu', 1): 1,
             ('tributari', 1): 6,
             ('danub', 1): 11,
             ('geta', 1): 4,
             ('shore', 1): 4,
             ('surpris', 1): 9,
             ('taulantii', 1): 1,
             ('ruler', 1): 59,
             ('flee', 1): 6,
             ('hesit', 1): 1,
             ('decid', 1): 10,
             ('ineffect', 1): 3,
             ('boeotian', 1): 1,
             ('cow', 1): 2,
             ('temporarili', 1): 7,
             ('asian', 1): 6,
             ('antipat', 1): 8,
             ('writer', 1): 23,
             ('margit', 1): 2,
             ('μαργίτης', 1): 1,
             ('word', 1): 33,
             ('describ', 1): 77,
             ('fool', 1): 1,
             ('useless', 1): 1,
             ('andromen', 1): 1,
             ('1', 1): 25,
             ('coast', 1): 41,
             ('arriv', 1): 10,
             ('demor', 1): 1,
             ('memnon', 1): 2,
             ('hellespont', 1): 1,
             ('4', 1): 16,
             ('soldier', 1): 39,
             ('fleet', 1): 24,
             ('ship', 1): 49,
             ('crew', 1): 4,
             ('3', 1): 10,
             ('feudal', 1): 2,
             ('paionia', 1): 1,
             ('f', 1): 2,
             ('spear', 1): 11,
             ('soil', 1): 9,
             ('eager', 1): 2,
             ('prefer', 1): 14,
             ('granicu', 1): 3,
             ('provinci', 1): 9,
             ('treasuri', 1): 8,
             ('sardi', 1): 1,
             ('ionian', 1): 1,
             ('grant', 1): 23,
             ('autonomi', 1): 3,
             ('democraci', 1): 4,
             ('miletu', 1): 3,
             ('held', 1): 52,
             ('delic', 1): 2,
             ('oper', 1): 19,
             ('naval', 1): 19,
             ('halicarnassu', 1): 4,
             ('large-scal', 1): 9,
             ('rhode', 1): 2,
             ('orontob', 1): 1,
             ('withdraw', 1): 7,
             ('govern', 1): 71,
             ('hecatomnid', 1): 1,
             ('ada', 1): 2,
             ('lycia', 1): 2,
             ('pamphylian', 1): 1,
             ('plain', 1): 13,
             ('assert', 1): 10,
             ('control', 1): 118,
             ('base', 1): 77,
             ('pamphylia', 1): 1,
             ('port', 1): 10,
             ('inland', 1): 4,
             ('termesso', 1): 1,
             ('humbl', 1): 2,
             ('storm', 1): 7,
             ('pisidian', 1): 1,
             ('phrygian', 1): 1,
             ('gordium', 1): 1,
             ('undid', 1): 1,
             ('hitherto', 1): 1,
             ('unsolv', 1): 1,
             ('gordian', 1): 3,
             ('knot', 1): 3,
             ('feat', 1): 3,
             ('await', 1): 2,
             ('undon', 1): 2,

In [83]:
clases = 5
cont = 0
for i in textos.index:
    cont += 1
    if cont > 1000000:
        break
    palabras = []    
    for word in textos["TextoLimpio"][i][:-1]:
        # word = word[2:-1]
        while word[-1:] == "'" or word[-1:] == '"':
            word = limpiarWord(word)
        palabras.append(word)    
        for k in range(1, clases + 1):
            textos["Clase" + str(k)][i] = etiquetas(palabras,frecuencias,clases)[0,k]
    clear_output( wait = True )
    print(f"Creando Features {i} de {len(textos.index)}") 
textos

Creando Features 5865 de 5866

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"[alexand, iii, macedon, greek, αλέξανδρος, γʹ,...",4178.0,3318.0,2902.0,1619.0,1906.0,True,1,757,59
1,"During his youth, Alexander was tutored by Ari...","[alexand, tutor, aristotl, age, philip, assass...",4551.0,4340.0,3038.0,2170.0,1284.0,True,1,821,53
2,"Alexander endeavoured to reach the ""ends of th...","[alexand, endeavour, sea, invad, india, 326bc,...",2466.0,2370.0,2153.0,2834.0,1095.0,False,1,624,38
3,Alexander's legacy includes the cultural diffu...,"[alexander, cultur, diffus, syncret, conquest,...",4719.0,3547.0,1722.0,1280.0,2471.0,True,1,1007,56
4,"Alexander was born in Pella, the capital of th...","[alexand, born, pella, capit, kingdom, macedon...",2216.0,1909.0,2229.0,589.0,560.0,True,1,488,36
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"[agriculturalist, hunt, gather, farm, frost-fr...",581.0,574.0,722.0,589.0,1467.0,True,5,592,31
5862,There are nevertheless a number of contemporar...,"[nevertheless, hunter-gather, contact, influen...",890.0,1215.0,989.0,726.0,1769.0,True,5,1011,47
5863,Evidence suggests big-game hunter-gatherers cr...,"[evid, suggest, big-gam, hunter-gather, bere, ...",1176.0,1116.0,1720.0,1603.0,6468.0,True,5,549,41
5864,Hunter-gatherers would eventually flourish all...,"[hunter-gather, america, base, plain, unit, st...",994.0,1056.0,1116.0,1356.0,2915.0,True,5,724,42
5865,The Archaic period in the Americas saw a chang...,"[archaic, period, america, environ, featur, wa...",585.0,504.0,443.0,349.0,1838.0,True,5,695,36

In [84]:
save_obj(frecuencias, "Frecuencias sin Confusas")

In [86]:
clases = 5
cont = 0
for i in textos.index:
    cont += 1
    if cont > 1000000:
        break
    palabras = []    
    for word in textos["TextoLimpio"][i][:-1]:
        # word = word[2:-1]
        while word[-1:] == "'" or word[-1:] == '"':
            word = limpiarWord(word)
        assert (word in vocabulario),"La palabra " + word + "no está en el vocabulario!"      
        palabras.append(word)    
        for k in range(1, clases + 1):
            textos["Clase" + str(k)][i] = etiquetas(palabras,frecuencias,clases)[0,k]
    clear_output( wait = True )
    print(f"Creando Features {i} de {len(textos.index)}") 
textos

Creando Features 5865 de 5866

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"[alexand, iii, macedon, greek, αλέξανδρος, γʹ,...",4178.0,3318.0,2902.0,1619.0,1906.0,True,1,757,59
1,"During his youth, Alexander was tutored by Ari...","[alexand, tutor, aristotl, age, philip, assass...",4551.0,4340.0,3038.0,2170.0,1284.0,True,1,821,53
2,"Alexander endeavoured to reach the ""ends of th...","[alexand, endeavour, sea, invad, india, 326bc,...",2466.0,2370.0,2153.0,2834.0,1095.0,False,1,624,38
3,Alexander's legacy includes the cultural diffu...,"[alexander, cultur, diffus, syncret, conquest,...",4719.0,3547.0,1722.0,1280.0,2471.0,True,1,1007,56
4,"Alexander was born in Pella, the capital of th...","[alexand, born, pella, capit, kingdom, macedon...",2216.0,1909.0,2229.0,589.0,560.0,True,1,488,36
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"[agriculturalist, hunt, gather, farm, frost-fr...",581.0,574.0,722.0,589.0,1467.0,True,5,592,31
5862,There are nevertheless a number of contemporar...,"[nevertheless, hunter-gather, contact, influen...",890.0,1215.0,989.0,726.0,1769.0,True,5,1011,47
5863,Evidence suggests big-game hunter-gatherers cr...,"[evid, suggest, big-gam, hunter-gather, bere, ...",1176.0,1116.0,1720.0,1603.0,6468.0,True,5,549,41
5864,Hunter-gatherers would eventually flourish all...,"[hunter-gather, america, base, plain, unit, st...",994.0,1056.0,1116.0,1356.0,2915.0,True,5,724,42
5865,The Archaic period in the Americas saw a chang...,"[archaic, period, america, environ, featur, wa...",585.0,504.0,443.0,349.0,1838.0,True,5,695,36

In [87]:
textos.to_csv("Historia.csv")

In [88]:
textos = pd.read_csv("Historia.csv")
textos = textos.iloc[:,1:]
textos

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",4178.0,3318.0,2902.0,1619.0,1906.0,True,1,757,59
1,"During his youth, Alexander was tutored by Ari...","['alexand', 'tutor', 'aristotl', 'age', 'phili...",4551.0,4340.0,3038.0,2170.0,1284.0,True,1,821,53
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'sea', 'invad', 'indi...",2466.0,2370.0,2153.0,2834.0,1095.0,False,1,624,38
3,Alexander's legacy includes the cultural diffu...,"['alexander', 'cultur', 'diffus', 'syncret', '...",4719.0,3547.0,1722.0,1280.0,2471.0,True,1,1007,56
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",2216.0,1909.0,2229.0,589.0,560.0,True,1,488,36
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'hunt', 'gather', 'farm', ...",581.0,574.0,722.0,589.0,1467.0,True,5,592,31
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'hunter-gather', 'contact', '...",890.0,1215.0,989.0,726.0,1769.0,True,5,1011,47
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",1176.0,1116.0,1720.0,1603.0,6468.0,True,5,549,41
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'america', 'base', 'plain', ...",994.0,1056.0,1116.0,1356.0,2915.0,True,5,724,42
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'environ', 'f...",585.0,504.0,443.0,349.0,1838.0,True,5,695,36

In [89]:
textos.sample(10)

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
2410,"Islam came to the Southeast Asia, first by the...","['islam', 'came', 'southeast', 'muslim', 'trad...",636.0,1856.0,729.0,490.0,744.0,True,2,573,29
560,The earliest preserved ancient Egyptian temple...,"['earliest', 'ancient', 'egyptian', 'templ', '...",2347.0,1606.0,1051.0,610.0,1897.0,True,1,880,57
4761,A modern-day diet known as the Paleolithic die...,"['modern-day', 'diet', 'paleolith', 'diet', 'b...",270.0,211.0,255.0,114.0,1763.0,True,5,206,14
4899,The Middle Mumun pottery period culture of the...,"['middl', 'mumun', 'potteri', 'period', 'cultu...",1583.0,1201.0,687.0,374.0,3556.0,True,5,567,41
3255,"In 1556, amid great pomp, and leaning on the s...","['1556', 'amid', 'pomp', 'lean', 'shoulder', '...",2599.0,3142.0,3652.0,1137.0,338.0,True,3,596,46
1726,The term feudal has also been applied to non-W...,"['feudal', 'non-western', 'institut', 'attitud...",962.0,2012.0,990.0,1016.0,843.0,True,2,681,36
3073,"Unfortunately for Anne, her partial victory de...","['unfortun', 'ann', 'victori', 'condé', 'want'...",866.0,1541.0,3788.0,1660.0,432.0,True,3,822,65
3780,The Jacobin cause was picked up by Marxists in...,"['jacobin', 'pick', 'marxist', 'centuri', 'ele...",341.0,574.0,273.0,767.0,154.0,True,4,197,12
2603,"Great advances in science have been termed ""re...","['scienc', 'revolut', '18th', 'centuri', '1747...",856.0,1453.0,1683.0,1596.0,1234.0,True,3,614,35
1139,... a very witty remark is reported to have be...,"['witti', 'wife', 'argentocoxu', 'caledonian',...",1046.0,490.0,484.0,488.0,156.0,True,1,477,29

In [90]:
cont = 0
for i in textos.index:
    cont += 1
    if cont > 1000000:
        break
    print(textos.loc[i,"CLASE"] ==  np.argmax(textos.iloc[i,columna:columna + clases].values) + 1)
    textos["Predicción"][i] = textos.loc[i,"CLASE"] ==  np.argmax(textos.iloc[i,columna:columna + clases].values) + 1
    clear_output( wait = True )
    print(f"Comparando CLASE y features {i} de {len(textos.index)}") 
textos

Comparando CLASE y features 5865 de 5866

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",4178.0,3318.0,2902.0,1619.0,1906.0,True,1,757,59
1,"During his youth, Alexander was tutored by Ari...","['alexand', 'tutor', 'aristotl', 'age', 'phili...",4551.0,4340.0,3038.0,2170.0,1284.0,True,1,821,53
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'sea', 'invad', 'indi...",2466.0,2370.0,2153.0,2834.0,1095.0,False,1,624,38
3,Alexander's legacy includes the cultural diffu...,"['alexander', 'cultur', 'diffus', 'syncret', '...",4719.0,3547.0,1722.0,1280.0,2471.0,True,1,1007,56
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",2216.0,1909.0,2229.0,589.0,560.0,False,1,488,36
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'hunt', 'gather', 'farm', ...",581.0,574.0,722.0,589.0,1467.0,True,5,592,31
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'hunter-gather', 'contact', '...",890.0,1215.0,989.0,726.0,1769.0,True,5,1011,47
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",1176.0,1116.0,1720.0,1603.0,6468.0,True,5,549,41
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'america', 'base', 'plain', ...",994.0,1056.0,1116.0,1356.0,2915.0,True,5,724,42
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'environ', 'f...",585.0,504.0,443.0,349.0,1838.0,True,5,695,36

In [94]:
textos.sample(10)

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
2268,Alexios's son John II Komnenos succeeded him i...,"['alexios', 'son', 'john', 'ii', 'komneno', 's...",1456.0,2689.0,1397.0,692.0,366.0,True,2,450,31
1893,The Anglo-Norman dynasty that had ruled Englan...,"['anglo-norman', 'dynasti', 'rule', 'england',...",2340.0,5642.0,4365.0,2110.0,338.0,True,2,609,45
3929,The peace with Britain proved to be uneasy and...,"['peac', 'britain', 'uneasi', 'controversi', '...",779.0,798.0,1104.0,2314.0,176.0,True,4,479,33
2554,The 1497 English expedition led by Italian Ven...,"['1497', 'english', 'expedit', 'led', 'italian...",1740.0,3173.0,4644.0,2155.0,2115.0,True,3,976,65
2964,The picture of Elizabeth painted by her Protes...,"['elizabeth', 'paint', 'protest', 'admir', '17...",1844.0,2570.0,2906.0,2536.0,1519.0,True,3,776,54
3632,A common view is that European combat methods ...,"['european', 'combat', 'militari', 'tactic', '...",2150.0,2984.0,4043.0,5806.0,1019.0,False,3,842,52
4110,Neither side proved able to deliver a decisive...,"['neither', 'decis', 'year', '1915', '17', 'br...",693.0,1158.0,1174.0,2113.0,737.0,True,4,372,21
5654,An initial agreement to fund restoration was a...,"['fund', 'restor', 'unit', 'nation', 'scientif...",318.0,341.0,292.0,662.0,460.0,False,5,236,11
4157,"On 3 May 1917, during the Nivelle Offensive, t...","['3', '1917', 'nivel', 'offens', 'french', 'co...",991.0,1846.0,2334.0,3609.0,977.0,True,4,741,50
597,The golden ratio seems to be reflected in many...,"['golden', 'ratio', 'reflect', 'egyptian', 'co...",804.0,177.0,159.0,72.0,219.0,True,1,274,17

In [105]:
textos.to_csv("Historia.csv")

In [96]:
textos = pd.read_csv("Historia.csv")
textos = textos.iloc[:,1:]
textos

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"['alexand', 'iii', 'macedon', 'greek', 'αλέξαν...",4178.0,3318.0,2902.0,1619.0,1906.0,True,1,757,59
1,"During his youth, Alexander was tutored by Ari...","['alexand', 'tutor', 'aristotl', 'age', 'phili...",4551.0,4340.0,3038.0,2170.0,1284.0,True,1,821,53
2,"Alexander endeavoured to reach the ""ends of th...","['alexand', 'endeavour', 'sea', 'invad', 'indi...",2466.0,2370.0,2153.0,2834.0,1095.0,False,1,624,38
3,Alexander's legacy includes the cultural diffu...,"['alexander', 'cultur', 'diffus', 'syncret', '...",4719.0,3547.0,1722.0,1280.0,2471.0,True,1,1007,56
4,"Alexander was born in Pella, the capital of th...","['alexand', 'born', 'pella', 'capit', 'kingdom...",2216.0,1909.0,2229.0,589.0,560.0,False,1,488,36
...,...,...,...,...,...,...,...,...,...,...,...
5861,Some agriculturalists also regularly hunt and ...,"['agriculturalist', 'hunt', 'gather', 'farm', ...",581.0,574.0,722.0,589.0,1467.0,True,5,592,31
5862,There are nevertheless a number of contemporar...,"['nevertheless', 'hunter-gather', 'contact', '...",890.0,1215.0,989.0,726.0,1769.0,True,5,1011,47
5863,Evidence suggests big-game hunter-gatherers cr...,"['evid', 'suggest', 'big-gam', 'hunter-gather'...",1176.0,1116.0,1720.0,1603.0,6468.0,True,5,549,41
5864,Hunter-gatherers would eventually flourish all...,"['hunter-gather', 'america', 'base', 'plain', ...",994.0,1056.0,1116.0,1356.0,2915.0,True,5,724,42
5865,The Archaic period in the Americas saw a chang...,"['archaic', 'period', 'america', 'environ', 'f...",585.0,504.0,443.0,349.0,1838.0,True,5,695,36

In [97]:
textos.groupby(by=["CLASE"]).count()

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,LTCrudo,LTLimpio
CLASE,,,,,,,,,,
1,1165,1165,1165,1165,1165,1165,1165,1165,1165,1165
2,1274,1274,1274,1274,1274,1274,1274,1274,1274,1274
3,1206,1206,1206,1206,1206,1206,1206,1206,1206,1206
4,1028,1028,1028,1028,1028,1028,1028,1028,1028,1028
5,1193,1193,1193,1193,1193,1193,1193,1193,1193,1193

In [98]:
textos.groupby(by=["Predicción"]).count()

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,CLASE,LTCrudo,LTLimpio
Predicción,,,,,,,,,,
False,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049
True,4817,4817,4817,4817,4817,4817,4817,4817,4817,4817

In [100]:
rate = 100 * 4817 / (1049 + 4762)
print("Porcentaje de features acertados",rate)

Porcentaje de features acertados 82.89451041128893

**Cómo último paso de esta notebook vamos a pasarlo por un modelo de ANN a ver que accuracy nos    da. En la próxima notebook vamos a pasar en limpio esta funciones y sistematizarlo creando métodos en la clase Textos**

In [101]:
len(vocabulario)

26756

In [102]:
len(frecuencias)

41381

In [103]:
len(confusas)

1213

In [104]:
save_obj(vocabulario, "Vocabulario")
save_obj(frecuencias, "Frecuencias")
save_obj(confusas, "confusas")

**Logramos un accuracy del 86% al entrenar el modelo con una ANN FC. La lista de palabras confusas extraídas fue obtenida con el dataset anterior. Resta generar una lista de palabras confusas para este dataset, recalcular las frecuencias y reentrenar**