In [1]:
from requests import get # la vamos a usar para solicitar la página mediante su URL 
from bs4 import BeautifulSoup # biblioteca para web scraping
import pandas as pd
import string                              
from nltk.corpus import stopwords # para remover palabras que no agregan significado          
from nltk.stem import PorterStemmer # para llevar las palabras a su forma raíz        
from nltk.tokenize import TweetTokenizer # para transformar cada palabra en un token
from IPython.display import clear_output
from collections import defaultdict
import numpy as np
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [44]:
class Textos:
    
    def __init__(self, clases, webs):
        self.clases = clases
        self.lista_dataset = []
        self.crear_dataframe(clases, webs)

    def crear_dataframe(self, clases, webs):
        self.lista_dataset.append('TextoCrudo')
        self.lista_dataset.append('TextoLimpio')

        for i in range(1, clases + 1):
            self.lista_dataset.append('Clase' + str(i))

        self.lista_dataset.append('Predicción')
        self.lista_dataset.append('CLASE')
        self.dataframe = pd.DataFrame(columns=self.lista_dataset)
        self.webs = pd.ExcelFile(webs)
        df = self.webs.parse(self.webs.sheet_names[0])
        self.__clases_df = set(df["CÓDIGO"].value_counts().index)

        for i in df.index:
            print(f"Creando Dataframe {i+1} de {len(df.index)}")
            url = df["URL"][i]
            req = get(url)
            statusCode = req.status_code
            html = BeautifulSoup(req.text, "html.parser")

            if statusCode == 200:
                paragraphs = html.select("p")
                cont = 0

                for para in paragraphs:
                    if len(para.text) < 15:
                        continue
                    cont += 1
                    self.dataframe = self.dataframe.append({'TextoCrudo': para.text, 'CLASE': df["CÓDIGO"][i]}, ignore_index=True)

                clear_output(wait=True)

    def limpiar(textoCrudo):
        for i in range(100):
            textoCrudo = textoCrudo.replace("[" + str(i) + "]", "")
        
        for i in ["a","b","c"]:
            textoCrudo = textoCrudo.replace("[" + i + "]", "")
        
        stopwords_english = stopwords.words('english')
        stop        = stopwords.words('english')
        tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)
        stemmer = PorterStemmer()    
        texto_tokens = tokenizer.tokenize(textoCrudo)
        sufijos_fecha = ["bc","ac"]

        for i in range(len(texto_tokens.copy())):
            if i > len(texto_tokens) - 1:
                break
            if i !=0:
                if texto_tokens[i] in sufijos_fecha and texto_tokens[i - 1].isnumeric():
                    texto_tokens[i] = texto_tokens[i - 1] + texto_tokens[i]     
                    texto_tokens.pop(i - 1)
                           
        texto_clean  = [ word for word in texto_tokens if word not in stop and word not in string.punctuation]  
        texto_stem   = [stemmer.stem(word) for word in texto_clean] 
        return texto_stem

In [32]:
clases = 5
webs = "webs.xlsx"
textos = Textos(clases, webs)

Creando Dataframe 89 de 89

In [33]:
textos.dataframe

                                             TextoCrudo  ... CLASE
0     Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...  ...     1
1     During his youth, Alexander was tutored by Ari...  ...     1
2     Alexander endeavoured to reach the "ends of th...  ...     1
3     Alexander's legacy includes the cultural diffu...  ...     1
4     Alexander was born in Pella, the capital of th...  ...     1
...                                                 ...  ...   ...
6059  There are nevertheless a number of contemporar...  ...     5
6060  Evidence suggests big-game hunter-gatherers cr...  ...     5
6061  Hunter-gatherers would eventually flourish all...  ...     5
6062  The Archaic period in the Americas saw a chang...  ...     5
6063   Media related to Hunter-gatherers at Wikimedi...  ...     5

[6064 rows x 9 columns]

In [36]:
textos.dataframe.to_csv("Historia.csv")

In [50]:
dataframe = pd.read_csv("Historia.csv")
dataframe = dataframe.iloc[:,1:]
dataframe

                                             TextoCrudo  ...  CLASE
0     Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...  ...      1
1     During his youth, Alexander was tutored by Ari...  ...      1
2     Alexander endeavoured to reach the "ends of th...  ...      1
3     Alexander's legacy includes the cultural diffu...  ...      1
4     Alexander was born in Pella, the capital of th...  ...      1
...                                                 ...  ...    ...
6059  There are nevertheless a number of contemporar...  ...      5
6060  Evidence suggests big-game hunter-gatherers cr...  ...      5
6061  Hunter-gatherers would eventually flourish all...  ...      5
6062  The Archaic period in the Americas saw a chang...  ...      5
6063   Media related to Hunter-gatherers at Wikimedi...  ...      5

[6064 rows x 9 columns]

In [51]:
dataframe.iloc[4029,0]

"In May 1798, Bonaparte was elected a member of the French Academy of Sciences. His Egyptian expedition included a group of 167 scientists, with mathematicians, naturalists, chemists, and geodesists among them. Their discoveries included the Rosetta Stone, and their work was published in the Description de l'Égypte in 1809.[68]\n"

In [52]:
dataframe.describe()

       TextoLimpio  Clase1  Clase2  ...  Clase5  Predicción        CLASE
count          0.0     0.0     0.0  ...     0.0         0.0  6064.000000
mean           NaN     NaN     NaN  ...     NaN         NaN     2.978232
std            NaN     NaN     NaN  ...     NaN         NaN     1.418588
min            NaN     NaN     NaN  ...     NaN         NaN     1.000000
25%            NaN     NaN     NaN  ...     NaN         NaN     2.000000
50%            NaN     NaN     NaN  ...     NaN         NaN     3.000000
75%            NaN     NaN     NaN  ...     NaN         NaN     4.000000
max            NaN     NaN     NaN  ...     NaN         NaN     5.000000

[8 rows x 8 columns]

In [53]:
crudo = "10 bc bcc Hola 10 bcc chau 5 bc 555 bc bcc 10 7000 ac"
limpio = Textos.limpiar(crudo)
print(type(limpio))
limpio

<class 'list'>

['10bc',
 'bcc',
 'hola',
 '10',
 'bcc',
 'chau',
 '5bc',
 '555bc',
 'bcc',
 '10',
 '7000ac']

In [55]:
dataframe["LTLimpio"], dataframe["LTCrudo"] = 0, 0

for i in dataframe.index:
    dataframe["TextoLimpio"][i] = Textos.limpiar(dataframe["TextoCrudo"][i])
    dataframe["LTCrudo"][i] = len(dataframe["TextoCrudo"][i])
    dataframe["LTLimpio"][i] = len(dataframe["TextoLimpio"][i])

dataframe

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             TextoCrudo  ... LTCrudo
0     Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...  ...     757
1     During his youth, Alexander was tutored by Ari...  ...     821
2     Alexander endeavoured to reach the "ends of th...  ...     624
3     Alexander's legacy includes the cultural diffu...  ...    1007
4     Alexander was born in Pella, the capital of th...  ...     488
...                                                 ...  ...     ...
6059  There are nevertheless a number of contemporar...  ...    1011
6060  Evidence suggests big-game hunter-gatherers cr...  ...     549
6061  Hunter-gatherers would eventually flourish all...  ...     724
6062  The Archaic period in the Americas saw a chang...  ...     695
6063   Media related to Hunter-gatherers at Wikimedi...  ...      56

[6064 rows x 11 columns]

In [58]:
dataframe["TextoLimpio"][6063]

['media', 'relat', 'hunter-gather', 'wikimedia', 'common']

In [ ]:
conta = 0
for i in dataframe.index:
    if len(dataframe["TextoLimpio"][i]) < 10:
        conta += 1 
        print(dataframe["TextoLimpio"][i]) 
print(conta)

['media', 'egypt', '333bc']
['historian', 'egyptologist', 'joann', 'fletcher', 'said', 'alexand', 'blond', 'hair', '190']
['greek', 'antholog', 'poem', 'refer', 'alexand', '280', '281']
['theori', 'realiti', 'led', 'radic', 'differ', 'approach', 'scienc']
['roman', 'creat', 'fireproof', 'wood', 'coat', 'wood', 'alum']
['roman', 'cavalri', 'saddl', 'four', 'horn', 'believ', 'copi', 'celtic', 'peopl']
['immedi', 'caus', 'rebellion', 'gross', 'mistreat', 'roman', 'tacitu', 'wrote']
['cassiu', 'dio', 'wrote']
['region', 'caesar', 'never', 'knew', 'thi', 'poster', 'shall', 'sway']
['suspect', 'children']
['grandchild', 'julia', 'pompey', 'dead', 'sever', 'day', 'unnam', '145']
['work', 'histor', 'attribut', 'caesar', 'authorship', 'doubt']
['bust', 'napl', 'nation', 'archaeolog', 'museum', 'photograph', 'publish', '1902']
['bust', 'nation', 'archaeolog', 'museum', 'napl']
['bust', 'juliu', 'caesar', 'british', 'museum']
['modern', 'bronz', 'statu', 'juliu', 'caesar', 'rimini', 'itali']
['atreb', 'aduatuci']
['purpl', 'quest', 'frank', 'g', 'slaughter', 'fiction', 'account', 'found', 'carthag']
['model', 'household', 'porch', 'garden', 'c', '1981', '–', '1975bc']
['illustr', 'variou', 'type', 'capit', 'drawn', 'egyptologist', 'karl', 'richard', 'lepsiu']
['egyptian', 'tomb', 'model', 'funerari', 'good', 'egyptian', 'museum', 'cairo']
['reason', 'approxim', 'formula', 'πr2', '194']
['frontispiec', 'descript', 'de', "l'égypt", 'publish', '38', 'volum', '1809', '1829']
['tourist', 'pyramid', 'complex', 'khafr', 'near', 'great', 'sphinx', 'giza']
['five', 'first', 'citi', 'said', 'exercis', 'pre-dynast', 'kingship', 'flood']
['princip', 'citi']
['minor', 'citi', 'south', 'north', '):']
['2an', 'outli', 'citi', 'northern', 'mesopotamia']
['c', '2500', '–', '2270bc']
['c', '2193', '–', '2119bc', 'middl', 'chronolog']
['c', '2200', '–', '2110bc', 'middl', 'chronolog']
['c', '2112', '–', '2004bc', 'middl', 'chronolog']
['earli', 'sumerian', 'period', 'primit', 'pictogram', 'suggest']
['prostitut', 'exist', 'clear', 'sacr', 'prostitut', '151']
['sumerian', 'worship']
['univers', 'divid', 'four', 'quarter']
['sixteenthdynasti', 'abydosdynasti', 'seventeenthdynasti']
['1500', '–', '1100', 'bce', 'kidinuid', 'dynastyigehalkid', 'dynastyuntash-napirisha']
['academ', 'term', 'often', 'use']
['roman', '–', 'sasanian', 'war']
['byzantin', '–', 'sasanian', 'war']
['media', 'relat', 'parthian-roman', 'war', 'wikimedia', 'common']
['map', 'hallstatt', 'cultur']
['world', 'accord', 'herodotu']
['besid', 'epigraph', 'evid', 'import', 'sourc', 'inform', 'earli', 'celtic', 'toponymi']
['vencesla', 'kruta', 'galatia', 'central', 'turkey', 'area', 'dens', 'celtic', 'settlement']
['accord', 'diodoru', 'siculu']
['sexual', 'freedom', 'women', 'britain', 'note', 'cassiu', 'dio']
['descript', 'challeng', 'contemporari', 'historian', '128']
['diodoru', 'siculu', '1st', 'centuri', 'histori', 'say', 'celtic', 'head-hunt']
['magyar', 'region']
['consult', 'particular', 'articl', 'detail']
['andalusian', 'citi', 'córdoba', 'spain']
['peasant', 'fieldstrè', 'rich', 'heur']
['joan', 'arc', 'hundr', 'year', 'war']
['charl', 'kingdom', 'hungari']
['jan', 'hu', 'bohemian', 'reform']
['central', 'europeguelf', 'hohenstaufen', 'ascanian', 'domain', 'germani', '1176']
['bogomil', 'strong', 'balkan', 'becam', 'offici', 'religion', 'support', 'bosnian', 'king']
['art', 'high', 'middl', 'age', 'includ', 'import', 'movement']
['lombard', 'classifi', 'german', 'peopl']
['footnot', 'explain', 'etymolog', 'name', 'scoringa']
['complet', 'emancip', 'appear', 'grant', 'among', 'frank', 'lombard']
['lombard', 'shield', 'bossnorthern', 'itali', '7th', 'centuri', 'metropolitan', 'museum', 'art']
['lombard', 's-shape', 'fibula']
['glass', 'drink', 'horn', 'castel', 'trosino']
['lombard', 'goldblattkreuz']
['lombard', 'fibula']
['altar', 'ratchi']
['media', 'relat', 'lombard', 'wikimedia', 'common']
['name', 'discov', 'natur', 'hard', 'stone', 'yet', 'stone', 'inde']
['four', 'separ', 'saxon', 'realm', 'emerg']
['einhard', 'say', 'charlemagn', 'ignor', "pope'", 'intent', 'want', 'coron']
['einhard', 'tell', 'twenty-fourth', 'chapter']
['charlemagn', 'probabl', 'spoke', 'rhenish', 'franconian', 'dialect', '140', '141', '142']
['video', 'game', 'age', 'empir', 'ii', 'charlemagn', 'featur', 'throw', 'axeman']
['inaugur', 'statu', 'charlemagn', 'lièg', '26', 'juli', '1868']
['art', 'instal', 'mein', 'karl', 'ottmar', 'hörl', 'katschhof', 'place', 'aachen']
['statu', 'charlemagn', 'near', 'notre-dam', 'cathedr', 'pari']
['northern', 'crusad', '1147', '–', '1410']
['popular', 'crusad']
['christian']
['ottoman']
['reconquista', '718', '–', '1492']
['evid', 'illegitim', 'children', 'born', 'william', '154']
['partit']
['motiv', 'drive', 'vike', 'expans', 'topic', 'much', 'debat', 'nordic', 'histori']
['mecca', 'muhammad', 'said', 'receiv', 'repeat', 'embassi', 'christian', 'tribe']
['main', 'articl', 'arab-byzantin', 'war', 'byzantine-seljuq', 'war', 'byzantine-ottoman', 'war']
['sultan', 'banten']
['cirebon', 'sultan']
['yogyakarta', 'sultan']
['sultan', 'mataram']
['time', 'pandem', 'european', 'diseas', 'smallpox', 'decim', 'indigen', 'popul']
['delftwar', 'depict', 'chines', 'scene', '18th', 'centuri', 'ernest', 'cognacq', 'museum']
['16th', 'centuri', 'portugues', 'india']
['17th', 'centuri', 'portugues', 'india']
['18th', 'centuri', 'portugues', 'india']
['19th', 'centuri', 'portugues', 'macau']
['20th', 'centuri', 'portugues', 'macau']
['15th', 'centuri', 'atlant', 'island']
['16th', 'centuri', 'canada']
['new', 'philosophi', 'call', 'doubt']
['element', 'fire', 'quit', 'put', 'sun', 'lost', "th'earth", "man'", 'wit']
['well', 'direct', 'look']
['bacon', 'first', 'describ', 'experiment', 'method']
['peopl', 'key', 'idea', 'emerg', '16th', '17th', 'centuri']
['coloni', 'dutch', 'loango-angola', 'portugues', 'manag', 'expel', 'dutch']
['previous', 'promis', 'marri', 'told', 'unruli', 'hous']
['philip', 'marri', 'four', 'time', 'children', 'three', 'wive']
['princess', 'maria', 'portug']
['queen', 'mari', 'tudor', 'england']
['queen', 'elisabeth', 'valoi']
['queen', 'anna', 'austria', 'sofonisba', 'anguissola']
['mother', 'gave', 'loui', 'belief', 'absolut', 'divin', 'power', 'monarch', 'rule']
['loui', 'rule', 'number', 'council']
['vauban', 'pessimist', "france'", 'so-cal', 'friend', 'alli']
['part', 'voltair', 'saw', 'loui', 'vaniti', 'caus', 'bellicos']
['numer', 'quot', 'attribut', 'loui', 'xiv', 'legend']
['loui', 'patrilin', 'line', 'descend', 'father', 'son']
['loui', 'member', 'hous', 'bourbon', 'branch', 'capetian', 'dynasti', 'robertian']
['third', 'wife', 'eleonor', 'magdalen', 'neuburg', 'follow', 'children']
['photograph', 'credit', 'diego', 'delso']
['ferdinand', 'die', 'vienna', '1564', 'buri', 'st', 'vitu', 'cathedr', 'pragu']
['christian', 'coalit', 'victori']
['ottoman', 'empir']
['vassal', 'state']
['polish', '–', 'lithuanian', 'commonwealth', 'holi', 'roman', 'empir']
['habsburg', 'hungari']
['note', '1', '–', 'altern', 'estim']
['casualti', 'battl', '8,000', '–', '15,000', '661']
['casualti', 'sieg', '20,000', 'casualti', '661']
['casualti', 'battl', '4,500', '661', '3,500', 'dead', 'wound', '1,300', 'pole']
['sever', 'culinari', 'legend', 'relat', 'battl', 'vienna']
['younger', 'albani']
['medal', 'depict', 'clement', 'xi']
['open', 'letter', 'kangxi', 'emperor', 'pope', 'clement', 'xi']
['portrait', 'pope', 'clement', 'xi']
['bust', 'pope', 'clement', 'xi', 'santa', 'cecilia', 'church', 'rome']
['soon', 'access', 'pontif', 'war', 'spanish', 'success', 'broke']
['holi', 'roman', 'empir']
['media', 'relat', 'cretan', 'war', '1645', '–', '69', 'wikimedia', 'common']
['catherin', 'credit', 'introduc', 'british', 'tea-drink', 'widespread', 'among', 'portugues', 'nobil']
['catherin', 'street', 'formerli', 'brydg', 'street', 'central', 'london', 'name']
['interact', 'resourc']
['lectur', 'galleri']
['north', 'american', 'war', 'associ', 'european', 'war', 'sequenc']
['king', "william'", 'war', '1st', 'intercoloni', 'war', 'french']
['queen', "anne'", 'war', '2nd', 'intercoloni', 'war', "dummer'", 'war']
['king', "george'", 'war', '3rd', 'intercoloni', 'warwar', 'jenkin', 'ear']
['independentist', 'victori']
['independentist', ':[', 'note', 'b', 'process', 'interrupt']
['support', 'unit', 'kingdom', '1815-1819', 'note']
['royalist', 'forc']
['main', 'patriot', 'forc']
['extens', 'spanish', 'empir']
['nation', 'war', 'battl', 'revolt']
['central', 'america']
['liber', 'independ', 'leader']
['royalist', 'leader']
['napoleon', 'cross', 'alp', 'romant', 'version', 'jacques-loui', 'david', '1805']
['bonapart', 'cross', 'alp', 'realist', 'version', 'paul', 'delaroch', '1848']
['alli', 'victori']
['30', 'octob', 'ottoman', 'empir', 'capitul', 'sign', 'armistic', 'mudro', '228']
['mediterranean', 'middl', 'east']
['campaign']
['part', 'seri', 'histori', 'cold', 'war']
['holm', 'suggest', 'follow', 'reason', 'failur', 'decommun', ':[', '363']
['prehistori', '•', 'antiqu', '•', 'earli', 'slav']
['novgorod', 'republ', '•', 'vladimir-suzd', 'mongol', 'conquest', '•', 'duchi', 'muscovi']
['media', 'relat', 'russian', 'revolut', '1917', 'wikimedia', 'common']
['epipalaeolith', 'mesolith']
['howev', 'although', 'intermedi', 'period', 'gone', 'search', 'transit', 'continu']
['success', 'phase', 'vari', 'enorm', 'one', 'region', 'cultur', 'anoth']
['essenc', 'oldowan', 'make', 'often', 'immedi', 'use', 'small', 'flake']
['anoth', 'name', 'scheme', 'pebbl', 'core', 'technolog', 'pbc']
['pebbl', 'core', '...', 'artifact', 'shape', 'vari', 'amount', 'hard-hamm', 'percuss']
['function', 'standpoint', 'pebbl', 'core', 'seem', 'design', 'specif', 'purpos']
['howev', 'would', 'manufactur', 'purpos']
['africa', 'near', 'east', 'c', '3300', '–', '1200bc']
['indian', 'subcontin', 'c', '3300', '–', '1200bc']
['europ', 'c', '3200', '–', '600bc']
['eurasia', 'siberia', 'c', '2700', '–', '700bc']
['east', 'asia', 'c', '3100', '–', '300bc']
['accord', 'recent', 'studi', 'bmac', 'primari', 'contributor', 'later', 'south-asian', 'genet']
['bronz', 'artifact', 'daegok-ri', 'hwasun', 'korea']
['2nd', 'centuri', 'bc', 'yayoi', 'dōtaku', 'bronz', 'bell']
['2nd', 'centuri', 'bc', 'yayoi', 'bronz', 'spearhead']
['exampl', 'name', 'bronz', 'age', 'cultur', 'europ', 'roughli', 'rel', 'order']
['import', 'site', 'includ']
['research', 'suggest']
['propos', 'speci', 'may', 'intermedi', 'h', 'erectu', 'h', 'heidelbergensi']
['speci', 'subspeci', 'suggest', 'see']
['hylobatida', 'gibbon']
['pongina', 'orangutan']
['gorillini', 'gorilla']
['panina', 'chimpanze']
['australopithecin', 'incl', 'australopithecu', 'kenyanthropu', 'paranthropu', 'homo']
['†', 'ardipithecu', 'ramidu']
['australopithecu', 'anamensi', '†', '3.8']
['†', 'australopithecu', 'afarensi']
['†', 'australopithecu', 'garhi']
['australopithecu', 'deyiremeda', '†', '3.4']
['kenyanthropu', 'platyop', '†', '3.3']
['australopithecu', 'africanu', '†', '2.1']
['paranthropu', '†', '1.2']
['homo', 'habili', '†', '1.5']
['homo', 'rudolfensi', '†', '1.9']
['homo', 'ergast', '†', '1.4']
['african', 'homo', 'erectu', '†']
['asian', 'homo', 'erectu', '†', '0.1']
['red', 'deer', 'cave', 'peopl', '†', '0.01']
['homo', 'antecessor', '†', '0.8']
['h', 'neanderthalensi', '†', '0.05']
['denisova', 'peopl', '†', '0.05']
['australopithecu', 'sediba', '†', '2.0']
['homo', 'floresiensi', '†', '0.05']
['roca', 'del', 'moro', 'spain', 'danc', 'cogul', 'trace', 'henri', 'breuil']
['neolith', 'human', 'settlement', 'includ']
['epipalaeolith', 'mesolith']
['denisovan', 'denisova', 'cave']
['denisovan', 'baishiya', 'karst', 'cave']
['neanderth', 'denisova', 'cave']
['neanderth', 'sidrón', 'cave']
['neanderth', 'vindija', 'cave']
['map', 'spread', 'neolith', 'farm', 'cultur', 'near-east', 'europ', 'date']
['modern', 'distribut', 'haplotyp', 'ppnb', 'farmer']
['genet', 'distanc', 'ppnb', 'farmer', 'modern', 'popul']
['lithic', 'stage', 'follow', 'archaic', 'stage']
['epipalaeolith', 'stress', 'continu', 'upper', 'paleolith', 'alfonso', 'mour', 'say', 'respect']
['danish-languag', 'text']
['harpoon', '–', 'ma', "d'azil", '–', 'museum', 'de', 'toulous']
['paint', 'pebbl', '–', 'ma', "d'azil", '–', 'museum', 'de', 'toulous']
['azilian', 'point', 'tourass', 'cave', '–', 'museum', 'de', 'toulous']
['flint', 'knife', 'kebaran', 'cultur', '22000-18000', 'bp']
['kebaran', 'cultur', 'microlith', '22000-18000', 'bp']
['microlith', 'product', 'kebaran', 'cultur', '22,000-', '18,000', 'bp']
['associ', 'wild', 'cereal', 'wild', 'grass', 'northern', 'israel']
['indigen', 'peopl', 'america', 'portal']
['dictionari', 'definit', 'glaciat', 'wiktionari']
['epipalaeolith', 'mesolith']
['archaeolog', 'tool', 'stone', 'type', 'stone', 'use', 'manufactur', 'stone', 'tool']
['major', 'theori', ':[', 'citat', 'need']
['excav', 'site', 'propos', 'follow', 'chronolog', "harappa'", 'occup']
['type', 'site', 'la', 'grott', 'de', 'fée', 'châtelperron']
['insid', 'topographi']
['australopithecina']
['hylobatida', 'gibbon']
['pongina', 'orangutan']
['gorillini', 'gorilla']
['panina', 'chimpanze']
['ardipithecu', '†']
['praeanthropu', '†']
['australopithecu', 'paranthropu', 'robustu', '†', '2']
['australopithecu', 'garhi', '†', '2.5']
['case', 'exploit', 'includ']
['media', 'relat', 'hunter-gather', 'wikimedia', 'common']
257

In [ ]:
dataframe = dataframe[dataframe["LTLimpio"] > 7]
dataframe

,TextoCrudo,TextoLimpio,Clase1,Clase2,Clase3,Clase4,Clase5,Predicción,CLASE,LTCrudo,LTLimpio
0,Alexander III of Macedon (Greek: Αλέξανδρος Γʹ...,"[alexand, iii, macedon, greek, αλέξανδρος, γʹ,...",NaN,NaN,NaN,NaN,NaN,NaN,1,757,78
1,"During his youth, Alexander was tutored by Ari...","[youth, alexand, tutor, aristotl, age, 16, phi...",NaN,NaN,NaN,NaN,NaN,NaN,1,821,74
2,"Alexander endeavoured to reach the ""ends of th...","[alexand, endeavour, reach, end, world, great,...",NaN,NaN,NaN,NaN,NaN,NaN,1,624,58
3,Alexander's legacy includes the cultural diffu...,"[alexander', legaci, includ, cultur, diffus, s...",NaN,NaN,NaN,NaN,NaN,NaN,1,1007,87
4,"Alexander was born in Pella, the capital of th...","[alexand, born, pella, capit, kingdom, macedon...",NaN,NaN,NaN,NaN,NaN,NaN,1,488,46
...,...,...,...,...,...,...,...,...,...,...,...
6058,Some agriculturalists also regularly hunt and ...,"[agriculturalist, also, regularli, hunt, gathe...",NaN,NaN,NaN,NaN,NaN,NaN,5,592,54
6059,There are nevertheless a number of contemporar...,"[nevertheless, number, contemporari, hunter-ga...",NaN,NaN,NaN,NaN,NaN,NaN,5,1011,86
6060,Evidence suggests big-game hunter-gatherers cr...,"[evid, suggest, big-gam, hunter-gather, cross,...",NaN,NaN,NaN,NaN,NaN,NaN,5,549,54
6061,Hunter-gatherers would eventually flourish all...,"[hunter-gather, would, eventu, flourish, ameri...",NaN,NaN,NaN,NaN,NaN,NaN,5,724,71
6062,The Archaic period in the Americas saw a chang...,"[archaic, period, america, saw, chang, environ...",NaN,NaN,NaN,NaN,NaN,NaN,5,695,64

In [ ]:
dataframe.to_csv("Historia.csv")