In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import pickle

In [3]:
historia = pd.read_csv("Historia20.csv")

In [4]:
historia.head()

,Unnamed: 0,Texto,Longitud,Clase
0,0,"['alexand', 'iii', 'macedon', 'greek', 'Î±Î»Î­Î¾Î±Î½...",20,1
1,1,"['bc', 'commonli', 'known', 'alexand', 'great'...",20,1
2,2,"['pella', '356', 'bc', 'succeed', 'father', 'p...",20,1
3,3,"['age', 'thirti', 'creat', 'one', 'largest', '...",20,1
4,4,"['youth', 'alexand', 'tutor', 'aristotl', 'age...",20,1

In [5]:
textos = historia.iloc[:,1:]
textos

                                                   Texto  Longitud  Clase
0      ['alexand', 'iii', 'macedon', 'greek', 'Î±Î»Î­Î¾Î±Î½...        20      1
1      ['bc', 'commonli', 'known', 'alexand', 'great'...        20      1
2      ['pella', '356', 'bc', 'succeed', 'father', 'p...        20      1
3      ['age', 'thirti', 'creat', 'one', 'largest', '...        20      1
4      ['youth', 'alexand', 'tutor', 'aristotl', 'age...        20      1
...                                                  ...       ...    ...
10309  ['south', 'chile', 'mont', 'verd', 'citat', 'n...        20      5
10310  ['common', 'style', 'stone', 'tool', 'product'...        20      5
10311  ['archaic', 'period', 'america', 'saw', 'chang...        20      5
10312  ['mobil', 'hunter-gather', 'individu', 'group'...        20      5
10313  ['poverti', 'point', 'dalton', 'plano', 'tradi...        20      5

[10314 rows x 3 columns]

In [6]:
textos = textos.drop("Longitud", axis = 1)
textos

                                                   Texto  Clase
0      ['alexand', 'iii', 'macedon', 'greek', 'Î±Î»Î­Î¾Î±Î½...      1
1      ['bc', 'commonli', 'known', 'alexand', 'great'...      1
2      ['pella', '356', 'bc', 'succeed', 'father', 'p...      1
3      ['age', 'thirti', 'creat', 'one', 'largest', '...      1
4      ['youth', 'alexand', 'tutor', 'aristotl', 'age...      1
...                                                  ...    ...
10309  ['south', 'chile', 'mont', 'verd', 'citat', 'n...      5
10310  ['common', 'style', 'stone', 'tool', 'product'...      5
10311  ['archaic', 'period', 'america', 'saw', 'chang...      5
10312  ['mobil', 'hunter-gather', 'individu', 'group'...      5
10313  ['poverti', 'point', 'dalton', 'plano', 'tradi...      5

[10314 rows x 2 columns]

In [7]:
type(textos.loc[:,"Texto"][0].split())

list

## Primer paso: obtener el vocabulario

Vocabulario: el conjunto de todas las palabras distintas que forman el corpus de entrenamiento

In [13]:
# create frequency dictionary
freqs = {}
for i in textos.index:  
    words = textos.loc[i,'Texto'].split(",")
    clase = textos.loc[i,'Clase']
    cont = 0
    for word in words:
        cont += 1
        if cont == len(words):
            word = word[2:-2]
        else:
            word = word[2:-1]                        
        pair = (word, clase)
        freqs[pair] = freqs.get(pair, clase) + 1
# check data type
print(f'type(freqs) = {type(freqs)}')

# check length of the dictionary
print(f'len(freqs) = {len(freqs)}')

type(freqs) = <class 'dict'>
len(freqs) = 36905

In [19]:
# calculate V, the number of unique words in the vocabulary
vocab = set([pair[0] for pair in freqs.keys()])
V = len(vocab)
print(V)
vocab

20680

{'',
 'metternich',
 'wonder',
 'bestow',
 'agrippina',
 '904',
 'zhao',
 'rehman',
 'liviu',
 'commenc',
 'satir',
 'statement',
 'non-semitic-speak',
 'cri',
 'limekiln',
 'pyramid',
 'lower-qu',
 'younger',
 'triangular',
 'franco-indian',
 'kadesh',
 'germanis',
 'biak',
 'outlook',
 'greco-roman',
 'cerebrovascular',
 "bride'",
 'leed',
 '179',
 'english-speak',
 'joy',
 'cheat',
 'coeur',
 'sumerina',
 'answer',
 'mycenaean',
 'sumatran',
 'himeta',
 '415',
 "egypt'",
 '991',
 'lent',
 'publicu',
 'fifty-on',
 '1315-1317',
 'accuraci',
 'dub',
 'livestock',
 'back-and-forth',
 '251',
 'haplotyp',
 'sans-gÃªn',
 'commissar',
 'leopard',
 'two-phas',
 '2018',
 'cahier',
 'so-far-unknown',
 'petroleum',
 '1590',
 'russo-french',
 'parr',
 "hiero'",
 "nobility'",
 ';[',
 'merovech',
 'satisfactori',
 'celtica',
 'inelig',
 'fungebatur',
 'wage-labour',
 'quibir',
 'ustaÅ¡',
 'motherli',
 'temperatur',
 'moch',
 'philippin',
 'purif',
 'high-rank',
 'akhenaten',
 'nicomachu',
 'paedomorph',
 'hernÃ¡ndez',
 'psychiatrist',
 'munda',
 'perhap',
 'journey',
 'fifth',
 'ibn',
 'gazza',
 'client-k',
 'cela-cond',
 '39',
 'falta',
 '2011',
 'toler',
 'uniti',
 'micoquien',
 'frontinu',
 'gripe',
 'jim',
 'countless',
 'son-in-law',
 'gutierrez',
 'cross-react',
 'castillo',
 'assakenian',
 '548',
 'reread',
 '1626',
 'abund',
 'met',
 "china'",
 'tuni',
 'martinuzzi',
 'anglesey',
 'sallust',
 'undoubt',
 'four-volum',
 'bridg',
 '399',
 'eastern',
 'duolog',
 'semi-legendari',
 'cleanli',
 'troublesom',
 'multa',
 'feel',
 'saltwork',
 'payta',
 ';p',
 'antilia',
 'sacral',
 "lerma'",
 'tibetan',
 'arous',
 'also',
 '3200',
 'hongshan',
 'blacken',
 'chaunar',
 'interwoven',
 'illeg',
 'hegemon',
 'silic',
 'fathom',
 'growth',
 'fervid',
 'suslov',
 'guÃ©rand',
 'cyru',
 'sort',
 '805',
 'dimorph',
 'regiomontanu',
 'portugues',
 'longest-run',
 'unexpect',
 'splendor',
 'fifteen',
 'repudi',
 'olahu',
 'pre-quaternari',
 'hermondori',
 'englandsstenarna',
 "roxane'",
 'chio',
 'alongsid',
 'unforgett',
 'calchaquÃ­',
 'lithospher',
 'disenfranchis',
 'stanovoy',
 'suppli',
 'refin',
 'maluku',
 'lower',
 'lightweight',
 'glare',
 'buildup',
 'shang-era',
 'fade',
 'gaeta',
 'orkney',
 'oudenaard',
 'repossess',
 'rescu',
 '427',
 'unfaith',
 '1206',
 'paralysi',
 'valuabl',
 'scotsman',
 'foment',
 'slip',
 'physiocrat',
 'malet',
 '1525',
 'douka',
 'rome',
 'cismarina',
 'sanhedrin',
 'swell',
 'mobilis',
 'bell',
 'butterfield',
 'dynam',
 'panopli',
 'sans-culott',
 'briton',
 'alter',
 'convey',
 'stormtroop',
 'rift',
 'alli',
 'spring',
 'almogÃ¡v',
 'pilauco',
 'wild-hair',
 'grail',
 'dÃ­az',
 'two',
 '634',
 'lone',
 'franÃ§ois-noÃ«l',
 'long-hair',
 'decorum',
 'ward',
 '22.3',
 'phrygian',
 'hesiod',
 'boycot',
 'catu',
 'psycholog',
 'ecolog',
 'lord',
 'easter',
 "dio'",
 'carpin',
 'clade',
 'detest',
 '1860',
 'build',
 'rifl',
 'estrang',
 'padua',
 'zealand',
 'bnc',
 'caporetto',
 'theoret',
 '6500',
 'suitabl',
 'comrad',
 'apart',
 '1585',
 '496',
 'curios',
 'compli',
 'edakk',
 'eucratid',
 'ambon',
 '1560',
 'self-grandios',
 'hinterland',
 'liturgi',
 'wear',
 'glass',
 'disinclin',
 'rationalis',
 'anaximand',
 'zengi',
 '1870',
 '1330',
 'almanac',
 'realism',
 'two-year-old',
 '1830',
 'clausewitz',
 'otho',
 'maria',
 'well-differenti',
 'more-subtl',
 'string',
 'bladelet',
 'hypothes',
 'breach',
 'set',
 '18th',
 'fibr',
 'rams',
 'diminut',
 'cabeza',
 'kristjansson',
 'norman-styl',
 'franco-ottoman',
 'appl',
 'scania',
 '14c',
 'burst',
 'scurvi',
 'russel',
 'martinelli',
 "d'aubignÃ©",
 'wrist-guard',
 'graecopithecu',
 'aio',
 'porciu',
 '709',
 'violent',
 'drown',
 'syncop',
 'pyanda',
 'regnal',
 'obolenski',
 'devoutli',
 'mesop',
 'jesuit',
 'cervid',
 'vexellation',
 'non-astronom',
 'brynner',
 'south-centr',
 'starn',
 'upgrad',
 'mid-pleistocen',
 'australia',
 'alvarez',
 'harri',
 'debri',
 '1097',
 'aten',
 'poseidoniu',
 'novum',
 'databl',
 'culinari',
 'villa',
 'penni',
 '1295',
 'inferior',
 'contend',
 'theodor',
 'richelieu',
 'magetobriga',
 '1948',
 'camelid',
 'cod',
 'artform',
 'non-linguist',
 'river',
 'iwan',
 'sur',
 'forno',
 'dynast',
 'eloqu',
 'versu',
 'valladolid',
 'sile',
 'perspect',
 'raider',
 'motoris',
 'marsh',
 'custom',
 'ail',
 'pine',
 'majority-muslim',
 'foreign',
 'sediti',
 'transluc',
 'consort',
 'eric',
 'hereditari',
 'stereotyp',
 '783',
 'ab',
 'unpreced',
 'portraitur',
 '915',
 'limassol',
 'baron',
 'kenaani',
 'rebuf',
 'toiletri',
 'affili',
 '1.5',
 'afflict',
 'aisl',
 'dens',
 'candia',
 'racist',
 'ÊƒaÊlÉ™maÉ²',
 'preclud',
 'live',
 'misconcept',
 'indirect',
 'seat',
 'albert',
 'articles.latimes.com',
 'stilt-hous',
 'iliad',
 'beatifi',
 '1655',
 "country'",
 'pretannoi',
 'odd',
 'viterbo',
 'pin',
 'primogenitur',
 "viking'",
 'jerzi',
 'agrippa',
 'conservat',
 'reservatum',
 'protest',
 "virgil'",
 'northwest',
 'various',
 'celesti',
 '2015',
 'disappoint',
 '1.25',
 'shift',
 'hausa',
 'druze',
 'fictiti',
 "liutprand'",
 'raisin',
 'sicard',
 'pray',
 'congratul',
 '252',
 'improp',
 'micro-econom',
 'paterculu',
 'riet',
 'inevit',
 'thessalu',
 '25th',
 'jr',
 'secondari',
 'inventori',
 'bose',
 'carian',
 'metr',
 'quito',
 'eleventh',
 'anthropologist',
 'molotov',
 'Î´Î¹Î¬Î»ÎµÎºÏ„Î¿Ï‚',
 'state-own',
 'feud',
 'belliger',
 '1166',
 'romanesqu',
 'stillborn',
 'saÃŸ',
 'albrecht',
 'non-asian',
 'scenario',
 'cateau-cambresi',
 'anglo-dutch',
 'henrician',
 'burk',
 'breadbasket',
 '2017',
 '1.1',
 'sheppard',
 'bagpip',
 'repuls',
 'cetera',
 'epipalaeolit',
 'kilogram',
 'sauc',
 'nizari',
 '1586',
 'cinq',
 'campaign',
 '67',
 'dive',
 'spearhead',
 'tendenc',
 'cranial',
 'rid',
 'parent',
 'high-qual',
 'calpurniu',
 'aix-la-chapel',
 'isra',
 'blombo',
 'hang',
 'subtrib',
 'orthodoxi',
 'rover',
 'asia',
 'instal',
 'overal',
 'punctuat',
 'ineff',
 'bitter',
 'amudian',
 'fagon',
 'glanc',
 'hungarian',
 '1916',
 'zeus-ammon',
 'fairli',
 'spillway',
 'deem',
 '2006',
 'much',
 'parramatta',
 'major',
 'sun-dri',
 'acadia',
 'calend',
 "france'",
 'amaz',
 'deschamp',
 'surrehain',
 '1940',
 'pro-byzantin',
 'calai',
 '1328',
 'trail',
 'tellier',
 'tigran',
 'garthoff',
 'barrack',
 "hunyadi'",
 'decent',
 'disarma',
 "humanity'",
 'investitur',
 'snow',
 'creator',
 'orgi',
 'sped',
 'cardinal-deacon',
 'personal-us',
 '1043',
 'states-back',
 'demolish',
 'lena',
 "ganshof'",
 'pound',
 'meuse-argonn',
 'horse-drawn',
 'dalecarlian',
 'armlet',
 'forshufvud',
 'consanguin',
 'lawyer',
 'bed',
 'saga',
 'geo-multi-punct',
 'barsin',
 'use',
 'embellish',
 'spite',
 'mariana',
 'theodosian',
 'deccan',
 '130',
 'octavian',
 'impoverish',
 'grafschaftsverfassung',
 '426',
 'seventh',
 '306',
 'blockad',
 'zabaykaly',
 'vert',
 'nors',
 'gdp',
 'disney',
 "crichton'",
 'sacrif',
 'superior',
 'blind',
 'shamanist',
 'hussar',
 'luxemburg',
 'byzantine-sassanid',
 'siculu',
 'sÃ¸rensen',
 'pelt',
 'led',
 'grasp',
 'widespread',
 'lagoon',
 'co',
 'pumic',
 'downward',
 'ground',
 "bernini'",
 'commentari',
 'fetch',
 'six-year-long',
 'certainli',
 'buckl',
 'mob',
 'witzel',
 'magnum',
 'reynold',
 'dwyer',
 'base',
 'hearth',
 'captiv',
 'billah',
 '1599',
 'unfortun',
 'anglo-gascon',
 'el-wali',
 'separat',
 'entic',
 'fruit',
 'legitim',
 'palaeoethno-botanist',
 'cavalrymen',
 'survivor',
 'possibl',
 'allevi',
 'obliter',
 'monotheist',
 'antimeridian',
 '1434',
 'secher',
 "lenin'",
 '1100',
 'regenc',
 'pashupati',
 'indict',
 'ankh',
 'colchest',
 'salutati',
 'counteroffens',
 'prioritis',
 'vin',
 'extens',
 'kubrat',
 'templat',
 'clarif',
 '323',
 'caeciliu',
 'worm',
 'toul',
 'id-lock-registr',
 '385',
 'sasannach',
 'saladin',
 'biolog',
 'abruptli',
 'cite',
 'notori',
 'scribe',
 'alexandrian',
 '1405',
 'icbm',
 "northumbria'",
 'baja',
 'malaya',
 'zhi',
 'mithra',
 'ormea',
 'whitehal',
 '11th',
 'circumst',
 'style',
 'sampson',
 'elissa',
 'vine',
 'ð’Š•',
 'philhellen',
 'qajar',
 "normandy'",
 'snr',
 'barba',
 'unicamer',
 'abstract',
 '1955',
 'wenzel',
 "festival'",
 'choniat',
 '3100',
 'caucasian',
 '1147',
 'anthaib',
 'prefect',
 'invoc',
 'dowson',
 'chemist',
 'enamel',
 'participatori',
 'nostra',
 'gamla',
 'pre-columbian',
 'fulli',
 'vauban',
 'agriculture-driven',
 'gupta',
 'employ',
 'moresbi',
 'termesso',
 'demor',
 'rice-grow',
 'cairo',
 'adlerberg',
 'ligatur',
 'recombin',
 'spontan',
 'istrian',
 'owner-cultiv',
 'stilicho',
 'mercenari',
 'beef',
 'predominantli',
 'carter',
 'aspirin',
 'fiefdom',
 'alboin',
 "world'",
 'westward',
 'rames',
 '4800',
 'garbag',
 'soror',
 '0.15',
 'dederiyeh',
 'right',
 'arculf',
 'yarmovac',
 'clean',
 'oaxaca',
 '1684',
 'lost-wax',
 'venic',
 'coverag',
 'rogeriana',
 'diversa',
 'stupid',
 'hymn',
 '600',
 'destabilis',
 'taxa',
 'divino',
 'previou',
 'regret',
 '.\\n.',
 'eme',
 'naturalis',
 'moula',
 'yekaterinburg',
 'cleopatra',
 'wittelsbach',
 'wrangham',
 'consensu',
 'seljuk',
 'relacion',
 '1098',
 'culott',
 'amino',
 'summaris',
 '1862',
 'multi-crop',
 'cuiu',
 'strongli',
 'majesti',
 'law',
 "d'oro",
 '1861',
 'priapatiu',
 'enmiti',
 'kanina',
 'glassblow',
 'solomon',
 'intervent',
 'georgett',
 'main',
 'capsa',
 'venetian',
 'deceiv',
 'ribbon',
 'palaeolith',
 'euphoria',
 'tula',
 'devic',
 'alfonso',
 'city-st',
 'aripert',
 'thirti',
 'grey',
 'bosch',
 'severin',
 'trinomi',
 'foothil',
 'chaumont',
 'martiri',
 'esperanÃ§a',
 'publica',
 'cotentin',
 "venice'",
 'upper',
 '61',
 'grifo',
 'yul',
 'paurava',
 'communist',
 "chief'",
 'shadow',
 'successor',
 'rat',
 'brown',
 'starvat',
 'ubaidian',
 'copernicu',
 'stepwis',
 'forens',
 'monophysit',
 'uncoop',
 'arm',
 'barent',
 'northwestern',
 'norsemen',
 'gembloux',
 'comnenian',
 'infer',
 'prerog',
 'overton',
 'hertza',
 'windswept',
 'hermannsburg',
 'ongo',
 'isogloss',
 'enceph',
 'mbt',
 'manpow',
 'chronic',
 'biblit',
 'new-found',
 'tent',
 'bosnia',
 '418',
 'czechoslovakia',
 'subfamili',
 'video',
 'dom',
 '1723',
 'precis',
 '86',
 'td.clade-bar.revers',
 'vÃ­kingr',
 'atla',
 'rum',
 'precipit',
 'corpori',
 'nativ',
 'cunimund',
 'guadalajara',
 'career',
 'sulawesi',
 'angara',
 'kÉ›lt',
 'É›Ë',
 'strongmen',
 'ereshkig',
 'kat',
 'zwin',
 'flotilla',
 'celtiberi',
 '1695',
 'tournai',
 'self-styl',
 'espaÃ±ol',
 'verb',
 'Ã©poqu',
 'freez',
 'tanja',
 'misenum',
 'crossbow',
 '20',
 'maclean',
 'domesday',
 'await',
 'mutat',
 'chop',
 'spice',
 'phonet',
 'hominoidea',
 'autumn',
 'nairobi',
 'carlisl',
 'knife-lik',
 'unipolar',
 'lieuten',
 'enigma',
 'domitiu',
 'pendant',
 'nicephoru',
 'sechura',
 'maxentiu',
 'mesoamerica',
 'leprosi',
 '21st',
 'swift',
 'spindl',
 'guadalcan',
 'weapon',
 'referendari',
 '1518',
 'bear-rel',
 'nodul',
 'cyril',
 '1665',
 'undeni',
 'catilinarian',
 '1559',
 'insult',
 'love',
 'forbad',
 'phenotyp',
 'austrasia',
 'local',
 'drusu',
 'romanorum',
 'sensory-motor',
 'prolif',
 'antoninu',
 'solemn',
 'roman-held',
 "josephine'",
 'beaucair',
 'tool-depend',
 "hephaestion'",
 '1667',
 '230',
 'schemat',
 'faida',
 'fontana',
 '1881',
 'comb',
 'retrogress',
 'brethren',
 'noteworthi',
 'pope',
 'sturdi',
 'bate',
 'sm',
 'coffin',
 'nottingham',
 'jurist',
 'hunnic',
 'badajoz-elva',
 'niccoli',
 'volga',
 'como',
 'elus',
 'inaccess',
 'nowaday',
 'three-day',
 'repair',
 'unsatisfactori',
 'religion-bas',
 'cash',
 'mainz',
 'malleabl',
 'egyptian-khwarazmian',
 'polyclitu',
 'teach',
 'resum',
 'sasanian',
 'claimant',
 'consumpt',
 'wagnerian',
 'alamein',
 'bride-pric',
 '1709',
 'megafauna',
 'laon',
 'margin-left',
 'tartrat',
 '3',
 'brandt',
 'degener',
 'haro',
 'overcam',
 'wend',
 'vertigo',
 'talli',
 'nanj',
 'knattleik',
 'enterocytozoon',
 'vistula',
 'metabol',
 '15',
 'edmund',
 'ontogeni',
 'intrus',
 'michelet',
 'alcÃ¡zar',
 'sierra',
 'western-totalitarian',
 ...}

In [17]:
i = 0
for key in freqs.keys():
    i +=1
    if i > 200:
        break
    if freqs[key] < 10:
        continue
    print(key,freqs[key])

('alexand', 1) 205
('iii', 1) 33
('macedon', 1) 14
('greek', 1) 165
('bc', 1) 352
('â€“', 1) 136
('commonli', 1) 12
('known', 1) 109
('great', 1) 73
('king', 1) 140
('ancient', 1) 146
('kingdom', 1) 77
('member', 1) 19
('dynasti', 1) 50
('born', 1) 12
('succeed', 1) 14
('father', 1) 30
('philip', 1) 48
('ii', 1) 94
('throne', 1) 19
('age', 1) 60
('20', 1) 19
('rule', 1) 56
('year', 1) 110
('militari', 1) 95
('campaign', 1) 56
('western', 1) 55
('asia', 1) 21
('africa', 1) 34
('creat', 1) 23
('one', 1) 125
('largest', 1) 18
('empir', 1) 154
('world', 1) 41
('greec', 1) 19
('1', 1) 29
('2', 1) 23
('battl', 1) 70
('wide', 1) 17
('consid', 1) 29
('youth', 1) 10
('aristotl', 1) 23
('16', 1) 17
('assassin', 1) 25
('strong', 1) 12
('armi', 1) 82
('use', 1) 212
('author', 1) 32
('launch', 1) 12
('project', 1) 17
('lead', 1) 26
('conquest', 1) 41
('4', 1) 28
('5', 1) 22
('invad', 1) 29
('achaemenid', 1) 24
('persian', 1) 73
('began', 1) 50
('seri', 1) 26
('last', 1) 45
('10', 1) 15
('follow', 1) 71
('anatolia', 1) 15
('power', 1) 136
('decis', 1) 19
('notabl', 1) 10
('issu', 1) 11
('reach', 1) 25
('end', 1) 55
('sea', 1) 25
('import', 1) 64
('victori', 1) 41
('eventu', 1) 32
('turn', 1) 23
('back', 1) 39
('demand', 1) 14
('troop', 1) 21
('die', 1) 28
('babylon', 1) 12
('citi', 1) 138
('plan', 1) 15
('establish', 1) 49
('capit', 1) 33
('without', 1) 20
('execut', 1) 15
('would', 1) 97
('invas', 1) 30
('death', 1) 59
('civil', 1) 71
('war', 1) 153
('result', 1) 36
('sever', 1) 68
('state', 1) 47
("alexander'", 1) 58
('surviv', 1) 32
('gener', 1) 74
('heir', 1) 15
('[8', 1) 66
('sixth', 1) 10
('day', 1) 31
('month', 1) 11
('probabl', 1) 32
('although', 1) 61
('date', 1) 35
('uncertain', 1) 11
('9', 1) 17
('son', 1) 46
('fourth', 1) 20
('wife', 1) 14
('olympia', 1) 10
('daughter', 1) 27
('seven', 1) 11
('surround', 1) 11
('12', 1) 17
('accord', 1) 54
('plutarch', 1) 27
('marriag', 1) 20
('caus', 1) 27
('spread', 1) 17
('far', 1) 30
('away', 1) 11
('sometim', 1) 22
('said', 1) 21
('seen', 1) 19
('secur', 1) 20
('seal', 1) 12
('13', 1) 12
('offer', 1) 16

In [ ]:
words = textos.loc[:,"Texto"][0].split()
print(type(words))
textos.loc[:,"Texto"][0].split()

In [25]:
textos

,Texto,Clase,Clase1,Clase2,Clase3,Clase4,Clase5
0,"['alexand', 'iii', 'macedon', 'greek', 'Î±Î»Î­Î¾Î±Î½...",1,None,None,None,None,None
1,"['bc', 'commonli', 'known', 'alexand', 'great'...",1,None,None,None,None,None
2,"['pella', '356', 'bc', 'succeed', 'father', 'p...",1,None,None,None,None,None
3,"['age', 'thirti', 'creat', 'one', 'largest', '...",1,None,None,None,None,None
4,"['youth', 'alexand', 'tutor', 'aristotl', 'age...",1,None,None,None,None,None
...,...,...,...,...,...,...,...
10309,"['south', 'chile', 'mont', 'verd', 'citat', 'n...",5,None,None,None,None,None
10310,"['common', 'style', 'stone', 'tool', 'product'...",5,None,None,None,None,None
10311,"['archaic', 'period', 'america', 'saw', 'chang...",5,None,None,None,None,None
10312,"['mobil', 'hunter-gather', 'individu', 'group'...",5,None,None,None,None,None
10313,"['poverti', 'point', 'dalton', 'plano', 'tradi...",5,None,None,None,None,None

In [24]:
textos["Clase1"] = None
textos["Clase2"] = None
textos["Clase3"] = None
textos["Clase4"] = None
textos["Clase5"] = None

In [26]:
def extract_features(words, freqs):
    '''
    Input: 
        words: a list of words for one input
        freqs: a dictionary corresponding to the frequencies of each tuple (word, label)
    Output: 
        x: a feature vector of dimension (1,6)
    '''
    # process_tweet tokenizes, stems, and removes stopwords
    word_l = words
    
    # 3 elements in the form of a 1 x 3 vector
    x = np.zeros((1, 6)) 
    
    #bias term is set to 1
    x[0,0] = 1 
    
    # loop through each word in the list of words
    cont = 0
    for word in word_l:
        cont += 1
        if cont == len(word_l):
            word = word[2:-2]
        else:
            word = word[2:-1]                   
        # increment the word count for the positive label 1
        for i in range(1,6):
            x[0,i] += freqs.get((word, i),0)        
    assert(x.shape == (1, 6))
    return x

In [27]:
textosFreq = textos
for i in textos.index:
    words = textos.loc[:,"Texto"][i].split(",")    
    clases = extract_features(words, freqs)
    nclases = len(clases[0]) 
    for j in range(1, nclases):
        textosFreq["Clase" + str(j)][i] = clases[0,j]
textosFreq

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Texto,Clase,Clase1,Clase2,Clase3,Clase4,Clase5
0,"['alexand', 'iii', 'macedon', 'greek', 'Î±Î»Î­Î¾Î±Î½...",1,974,351,320,280,367
1,"['bc', 'commonli', 'known', 'alexand', 'great'...",1,1554,736,549,264,468
2,"['pella', '356', 'bc', 'succeed', 'father', 'p...",1,1085,834,822,589,1095
3,"['age', 'thirti', 'creat', 'one', 'largest', '...",1,907,967,746,710,1047
4,"['youth', 'alexand', 'tutor', 'aristotl', 'age...",1,1160,502,438,414,527
...,...,...,...,...,...,...,...
10309,"['south', 'chile', 'mont', 'verd', 'citat', 'n...",5,388,379,413,503,916
10310,"['common', 'style', 'stone', 'tool', 'product'...",5,532,465,449,319,1715
10311,"['archaic', 'period', 'america', 'saw', 'chang...",5,503,541,547,493,1117
10312,"['mobil', 'hunter-gather', 'individu', 'group'...",5,459,403,410,471,932
10313,"['poverti', 'point', 'dalton', 'plano', 'tradi...",5,360,335,353,331,657

In [ ]:
extract_features(words, freqs)

In [29]:
textosFreq.sample(10)

,Texto,Clase,Clase1,Clase2,Clase3,Clase4,Clase5
1898,"['time', 'mithrid', 'reign', 'arsacid', 'succe...",1,1147,941,675,506,661
984,"['suffix', 'ad', 'form', 'word', 'verb', 'conj...",1,343,250,145,128,239
5190,"['eventu', 'spanish', 'attempt', 'two', 'armad...",3,388,453,820,670,321
3428,"['vÃ­kja', 'Ã½kva', 'vÃ­kva', 'move', 'turn', 'we...",2,441,491,428,536,647
4343,"['locat', 'antimeridian', 'tordesilla', 'would...",3,456,432,569,563,325
1768,"['follow', 'outbreak', 'third', 'mithridat', '...",1,1086,563,654,962,433
340,"['pilum', 'spear', '):', 'roman', 'heavi', 'sp...",1,883,443,332,302,494
319,"['roman', 'built', 'dam', 'store', 'water', 'i...",1,1380,489,347,214,376
4967,"['desir', 'bottom', 'heart', 'may', 'assist', ...",3,533,460,539,614,483
7519,"['two', 'day', 'later', 'date', 'begin', 'war'...",4,882,805,954,1760,874

In [30]:
textosFreq.count()

Texto     10314
Clase     10314
Clase1    10314
Clase2    10314
Clase3    10314
Clase4    10314
Clase5    10314
dtype: int64

In [31]:
textosFreq.to_csv("HistoriaFreq.csv")

In [ ]:
df['Age'] = df['numeros'] - df['valores'].shift(-1)