In [1]:
from bs4 import BeautifulSoup
import requests
import time
import numpy as np
import pandas as pd

In [2]:
webs = pd.ExcelFile("Webs.xlsx")

In [3]:
print(webs.sheet_names)

['Categorias']

In [4]:
df = webs.parse("Categorias")

In [6]:
df.sample(20)

,URL,NOMBRE ARCHIVO,CLASE,CÓDIGO
23,https://en.wikipedia.org/wiki/Granada_War,Granada_War,EDAD MEDIA,2
5,https://en.wikipedia.org/wiki/Ancient_Carthage,Ancient_Carthage,EDAD ANTIGUA,1
24,https://en.wikipedia.org/wiki/Byzantine_Empire...,Byzantine_Empire_under_the_Justinian_dynasty,EDAD MEDIA,2
70,https://en.wikipedia.org/wiki/Kebaran,Kebaran,PREHISTORIA,5
68,https://en.wikipedia.org/wiki/Maglemosian_culture,Maglemosian_culture,PREHISTORIA,5
79,https://en.wikipedia.org/wiki/Prehistory_of_Au...,Prehistory_of_Australia,PREHISTORIA,5
12,https://en.wikipedia.org/wiki/Early_Middle_Ages,Early_Middle_Ages,EDAD MEDIA,2
26,https://en.wikipedia.org/wiki/Franks,Franks,EDAD MEDIA,2
61,https://en.wikipedia.org/wiki/Mesolithic,Mesolithic,PREHISTORIA,5
4,https://en.wikipedia.org/wiki/Julius_Caesar,Julius_Caesar,EDAD ANTIGUA,1
60,https://en.wikipedia.org/wiki/Homo,Homo,PREHISTORIA,5
47,https://en.wikipedia.org/wiki/Spanish_American...,Spanish_American_wars_of_independence,EDAD CONTEMPORÁNEA,4
66,https://en.wikipedia.org/wiki/Lithic_stage,Lithic_stage,PREHISTORIA,5
45,https://en.wikipedia.org/wiki/French_and_India...,French_and_Indian_Wars,EDAD MODERNA,3
32,https://en.wikipedia.org/wiki/Elizabeth_I,Elizabeth_I,EDAD MODERNA,3
41,https://en.wikipedia.org/wiki/Pope_Clement_XI,Pope_Clement_XI,EDAD MODERNA,3
37,https://en.wikipedia.org/wiki/https://en.wikip...,Louis_XV,EDAD MODERNA,3
62,https://en.wikipedia.org/wiki/Neolithic,Neolithic,PREHISTORIA,5
21,https://en.wikipedia.org/wiki/William_the_Conq...,William_the_Conqueror,EDAD MEDIA,2
3,https://en.wikipedia.org/wiki/Boudica,Boudica,EDAD ANTIGUA,1

In [9]:
textos = pd.DataFrame(columns=['Texto', 'Clase'])

for i in df.index: 
    url = df["URL"][i]
    req = requests.get(url)
    statusCode = req.status_code
    if statusCode == 200:
        html = BeautifulSoup(req.text, "html.parser")
        paragraphs = html.select("p")
        print('df["NOMBRE ARCHIVO"][i]',df["NOMBRE ARCHIVO"][i])
        cont = 0
        for para in paragraphs:
            if cont == 100:
                cont = 0
                time.sleep(1)
            cont += 1    
            textos = textos.append({'Texto': para.text, 'Clase':df["CÓDIGO"][i]}, ignore_index=True)

df["NOMBRE ARCHIVO"][i] Alexander_the_Great
df["NOMBRE ARCHIVO"][i] History_of_science_in_classical_antiquity
df["NOMBRE ARCHIVO"][i] Roman_technology
df["NOMBRE ARCHIVO"][i] Boudica
df["NOMBRE ARCHIVO"][i] Julius_Caesar
df["NOMBRE ARCHIVO"][i] Ancient_Carthage
df["NOMBRE ARCHIVO"][i] Ancient_Egypt
df["NOMBRE ARCHIVO"][i] Ancient_Rome
df["NOMBRE ARCHIVO"][i] Sumer
df["NOMBRE ARCHIVO"][i] Ramesses_II
df["NOMBRE ARCHIVO"][i] History_of_ancient_Israel_and_Judah
df["NOMBRE ARCHIVO"][i] Celts
df["NOMBRE ARCHIVO"][i] Early_Middle_Ages
df["NOMBRE ARCHIVO"][i] /Late_Middle_Ages
df["NOMBRE ARCHIVO"][i] High_Middle_Ages
df["NOMBRE ARCHIVO"][i] Lombards
df["NOMBRE ARCHIVO"][i] Saxons
df["NOMBRE ARCHIVO"][i] Charlemagne
df["NOMBRE ARCHIVO"][i] Middle_Ages
df["NOMBRE ARCHIVO"][i] Feudalism
df["NOMBRE ARCHIVO"][i] Crusades
df["NOMBRE ARCHIVO"][i] William_the_Conqueror
df["NOMBRE ARCHIVO"][i] Hundred_Years%27_War
df["NOMBRE ARCHIVO"][i] Granada_War
df["NOMBRE ARCHIVO"][i] Byzantine_Empire_under_the_Justinian_dynasty
df["NOMBRE ARCHIVO"][i] Spread_of_Islam
df["NOMBRE ARCHIVO"][i] Franks
df["NOMBRE ARCHIVO"][i] Age_of_Discovery
df["NOMBRE ARCHIVO"][i] Scientific_Revolution
df["NOMBRE ARCHIVO"][i] Gunpowder_empires
df["NOMBRE ARCHIVO"][i] European_exploration_of_Africa
df["NOMBRE ARCHIVO"][i] Henry_VIII
df["NOMBRE ARCHIVO"][i] Elizabeth_I
df["NOMBRE ARCHIVO"][i] Philip_II_of_Spain
df["NOMBRE ARCHIVO"][i] Louis_XIV
df["NOMBRE ARCHIVO"][i] Leopold_I,_Holy_Roman_Emperor
df["NOMBRE ARCHIVO"][i] James_V_of_Scotland
df["NOMBRE ARCHIVO"][i] Ferdinand_I,_Holy_Roman_Emperor
df["NOMBRE ARCHIVO"][i] Battle_of_Vienna
df["NOMBRE ARCHIVO"][i] Pope_Clement_XI
df["NOMBRE ARCHIVO"][i] War_of_the_Spanish_Succession
df["NOMBRE ARCHIVO"][i] European_colonization_of_the_Americas
df["NOMBRE ARCHIVO"][i] Renaissance
df["NOMBRE ARCHIVO"][i] French_and_Indian_Wars
df["NOMBRE ARCHIVO"][i] French_Revolution
df["NOMBRE ARCHIVO"][i] Spanish_American_wars_of_independence
df["NOMBRE ARCHIVO"][i] Napoleon
df["NOMBRE ARCHIVO"][i] World_War_I
df["NOMBRE ARCHIVO"][i] World_War_II
df["NOMBRE ARCHIVO"][i] Cold_War
df["NOMBRE ARCHIVO"][i] Russian_Revolution
df["NOMBRE ARCHIVO"][i] Prehistory
df["NOMBRE ARCHIVO"][i] Paleolithic
df["NOMBRE ARCHIVO"][i] Stone_Age
df["NOMBRE ARCHIVO"][i] Bronze_Age
df["NOMBRE ARCHIVO"][i] Human_evolution
df["NOMBRE ARCHIVO"][i] Archaic_humans
df["NOMBRE ARCHIVO"][i] Lower_Paleolithic
df["NOMBRE ARCHIVO"][i] Homo
df["NOMBRE ARCHIVO"][i] Mesolithic
df["NOMBRE ARCHIVO"][i] Neolithic
df["NOMBRE ARCHIVO"][i] Chalcolithic
df["NOMBRE ARCHIVO"][i] Neanderthal
df["NOMBRE ARCHIVO"][i] Neolithic_Revolution
df["NOMBRE ARCHIVO"][i] Lithic_stage
df["NOMBRE ARCHIVO"][i] Epipalaeolithic
df["NOMBRE ARCHIVO"][i] Maglemosian_culture
df["NOMBRE ARCHIVO"][i] Azilian
df["NOMBRE ARCHIVO"][i] Kebaran
df["NOMBRE ARCHIVO"][i] Paleo-Indians
df["NOMBRE ARCHIVO"][i] Quaternary_glaciation
df["NOMBRE ARCHIVO"][i] Stone_tool
df["NOMBRE ARCHIVO"][i] Indus_Valley_Civilisation
df["NOMBRE ARCHIVO"][i] Harappa
df["NOMBRE ARCHIVO"][i] Mohenjo-daro
df["NOMBRE ARCHIVO"][i] Ch%C3%A2telperronian
df["NOMBRE ARCHIVO"][i] Hominini
df["NOMBRE ARCHIVO"][i] Prehistory_of_Australia
df["NOMBRE ARCHIVO"][i] Control_of_fire_by_early_humans

In [10]:
textos.sample(50)

                                                  Texto Clase
3829  Napoleon continued to entertain a grand scheme...     4
3751  In 1816, the second Portuguese Invasion or War...     4
4251  Frustrated at the lack of progress and feeling...     4
1293  The French crown's increasing dominance over t...     2
5606  The pottery of the Late Harappan period is des...     5
2537   historians of science have long known that re...     3
3215  In the early afternoon a great battle started ...     3
3271  Pope Clement XI had a famous sundial added in ...     3
4315  Land warfare changed from the static front lin...     4
1109  To the extent that sources are available, they...     1
3845  After four years on the sidelines, Austria sou...     4
4751  The earliest known battle occurred during the ...     5
2065  In August 1373, John of Gaunt, accompanied by ...     2
2481                                     16th century\n     3
1851  The term feudal has also been applied to non-W...     2
2542  Under the scientific method as conceived in th...     3
1765  In central and northern Italy and in Flanders,...     2
4396  During November 1958, Khrushchev made an unsuc...     4
2270  Clovis later defeated the son of Aegidius, Sya...     2
5547  Gallego Romero et al. (2011) state that their ...     5
3353  Over this same time frame as Spain, Portugal c...     3
3917  Dieter Langewiesche described the code as a "r...     4
1733  An additional problem to face the empire came ...     2
2648  Koreans had been using Chinese and self made f...     3
3949  Napoleon married Joséphine (née Marie Josèphe ...     4
384                                                 ⁂\n     1
1947  Norsemen first began raiding in what became No...     2
3785  Within weeks, he was romantically involved wit...     4
3489  \nThe French and Indian Wars were a series of ...     3
902   Mirroring the way that muddy islands emerge fr...     1
29    Before crossing to Asia, Alexander wanted to s...     1
2515                                     17th century\n     3
4618                                                 \n     5
5370  Sherratt argued that this phase in agricultura...     5
715   The Julio-Claudians continued to rule Rome aft...     1
1491  Some of the late Lombard structures of the 9th...     2
2764  Response to the reforms was mixed. The religio...     3
126   The eastern borders of Alexander's empire bega...     1
4348  Following the Allies' May 1945 victory, the So...     4
4011  Bulgaria declared war on Serbia on 12 October ...     4
2677  One of the ships under command of Diogo Dias a...     3
2258  In 288 the emperor Maximian defeated the Salia...     2
5662  Currently the site is threatened by groundwate...     5
2514                                                 \n     3
4709  The earliest documented stone tools have been ...     5
2722  Other missions concentrated on arranging an ec...     3
5589  According to Heggarty and Renfrew, Dravidian l...     5
5334  Daniel Zohary identified several plant species...     5
2822  Mary was soon the focus for rebellion. In 1569...     3
264   The rebels' first target was Camulodunum (mode...     1

In [11]:
textos.groupby(by=["Clase"]).count()

       Texto
Clase
1       1154
2       1163
3       1197
4       1062
5       1211

In [12]:
textos.to_csv("Historia.csv")